@import url("common.css");

main {
	margin-left:50px;
}
body {
	margin:0;
	padding:0;
	background-color: #fafafa;
}

hr {
	margin: 50px 0;
	border: 0.5px solid #dcdcdc;
}

.calendar-o input {
    height: 30px;
    margin: 0 4px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select{
    height:40px;
}

.input-cl-0 {
    height: 30px;
    margin: 0 4px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}



/* ---------- sidemenu start ---------- */
input[type="checkbox"]#menu_state {
	display:none;
}
input[type="checkbox"]:checked ~ nav {
	width:250px;
}
input[type="checkbox"]:checked ~ nav label[for="menu_state"] i::before {
	content:"\f053";
}
input[type="checkbox"]:checked ~ nav ul {
	width:100%;
}
input[type="checkbox"]:checked ~ nav ul li a i {
}
input[type="checkbox"]:checked ~ nav ul li a span {
	opacity:1;
	transition:opacity 0.25s ease-in-out;
}
input[type="checkbox"]:checked ~ header {
	margin-left:250px;
}
input[type="checkbox"]:checked ~ main {
	margin-left:250px;
}
.side-nav {
	position:fixed;
	z-index:9;
	top:0;
	left:0;
	bottom:0;
	background:#000;
	color:#9aa3a8;
	width:50px;
	font-family:'Montserrat',sans-serif;
	font-weight:lighter;
	transition:all 0.15s ease-in-out;
}
.side-nav label[for="menu_state"] i {
	cursor:pointer;
	position:absolute;
	top:50%;
	right:-20px;
	box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
	background:#fff;
	font-size:10px;
	display:flex;
	justify-content:center;
	align-items:center;
	height:40px;
	width:40px;
	border-radius:50%;
	border:1px solid #ddd;
	transition:width 0.15s ease-in-out;
	z-index:1;
}
.side-nav label[for="menu_state"] i::before {
	margin-top:2px;
	content:"\f054";
}
.side-nav label[for="menu_state"] i:hover {
	box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
}
.side-nav ul {
	overflow:hidden;
	display:block;
	width:50px;
	list-style-type:none;
	padding:0;
	margin:0;
}
.side-nav ul li {
	border:0 solid #2f343e;
	position:relative;
	line-height:50px;
}
.side-nav ul .logo {
	border:0 solid #2f343e;
	height:60px;
}
.side-nav ul .logo:hover {
	background-color:black;
}
.side-nav ul li.unread:after {
	content:attr(data-content);
	position:absolute;
	top:10px;
	left:25px;
	display:flex;
	justify-content:center;
	align-items:center;
	width:15px;
	height:15px;
	border-radius:50%;
	color:#fff;
	background:#ef5952;
	font-size:8px;
}
.active .unread.side-nav ul li:not(:last-child) {
	border-bottom:none;
}
.side-nav ul li.active a {
	background:#2a6ccd;
	color:#fff;
}
.side-nav ul li a {
	position:relative;
	display:block;
	white-space:nowrap;
	text-decoration:none;
	color:#9aa3a8;
	height:50px;
	width:100%;
	transition:all 0.15s ease-in-out;
	font-weight:3;
}
.side-nav ul li a:hover {
	background:#4c515d;
	color:#fff;
}
.side-nav ul li a * {
	height:100%;
	display:inline-block;
}
.side-nav ul li a i {
	text-align:center;
	width:50px;
	z-index:999999;
}
.side-nav ul li a i.fa {
	line-height:50px;
}
.side-nav ul li a span {
	padding-left:25px;
	opacity:0;
	transition:opacity 0.1s ease-in-out;
}
.side-nav li:hover .submenu {
	display:block;
	max-height:200px;
}
.side-nav .submenu a {
	background-color:#000;
	padding-left:80px;
}
.side-nav .submenu a:hover {
	background-color:#4c515d;
	;
}
.side-nav .submenu {
	overflow:hidden;
	max-height:0;
	-webkit-transition:all 0.5s ease-out;
}
.acsubmenu a {
	background-color:#111;
	padding-left: 80px;
}
.side-nav ul .opened{
    color:white;
    background-color: #222;
}
/* ---------- sidemenu end ---------- */
/* ---------- headermenu start ---------- */
.header-menu {
	box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
	background-color:#fff;
	padding:20px;
	height:80px;
	min-width:400px;
}
.searchinput {
	float:left;
	padding:.375rem .75rem;
	font-size:1rem;
	color:#495057;
	background-color:#fff;
	background-clip:padding-box;
	border:1px solid #ced4da;
	border-radius:.25rem;
	transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.header-left {
	float:left;
}
.header-right {
	float:right;
	max-width: 500px;
	line-height:60px;
	text-align:center;
	margin-top:-20px;
}
.header-right .navigation {
	width:100%;
	display:flex;
	justify-content:center;
	position:relative;
}
.header-right .navigation ul,.header-profile>a:hover {
	font-weight: 600;
	color:#2a6ccd;
}
.header-right .navigation ul,li {
	margin:0;
	padding:0;
	list-style:none;
}
.header-right .navigation ul,li a {
	color:black;
}
.header-right .navigation #main-menu>li {
	float:left;
	position:relative;
}
.header-right .navigation #main-menu>li>a {
	text-align:center;
	text-decoration:none;
	letter-spacing:0.05em;
	display:block;
	max-width: 500px;
	padding:10px;
}
.header-right .navigation #sub-menu {
	position:absolute;
	background:#fff;
	opacity:0;
	visibility:hidden;
	transition:all 0.15s ease-in;
	top:60px;
}
.header-right .navigation #sub-menu>li {
	width:120px;
	border-bottom:1px solid rgba(0,0,0,0.15);
}
.header-right .navigation #sub-menu>li>a {
	color:#000;
	text-decoration:none;
}
.header-right .navigation #main-menu>li:hover #sub-menu {
	opacity:1;
	visibility:visible;
}
.header-right .navigation #sub-menu>li>a:hover {
	text-decoration:underline;
}
.navbar-nav .dropdown-menu {
	position:static;
	float:none;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu {
	background:#272c33;
	border:none;
	box-shadow:none;
	overflow-y:hidden;
	padding:0 0 0 35px;
}
.search-trigger {
	background:transparent;
	border:none;
	color:#272c33;
	cursor:pointer;
	font-size:16px;
	width:43px;
}
.con-title {
	margin:2px 0;
	padding:20px 40px;
	background-color:white;
	font-size:20px;
	color:#333;
	font-weight:700;
}
.con-title span {
	font-size:16px;
	color:#999;
	font-weight:400;
}
main .contents {
    margin:8vh 2vw;
}
main .contents .card-filter .blue {
    background-color:#2a6ccd;
	border:1px #2a6ccd solid;
	color:white;
}
main .contents .card-filter {
	max-width:1200px;
	margin:0 auto 2vh auto;
}
main .contents .card-filter .right {
	float:right;
}
main .contents .card-filter .left span {
    font-weight: 800;
    font-size: 20px;
}
main .contents .card-filter .left {
	float:left;
}
main .contents .card-menu .normal{
	border:1px gray solid;
}
main .contents .card-menu .blue {
	background-color:#2a6ccd;
	border:1px #2a6ccd solid;
	color:white;
}
main .contents .card-menu .gray {
	background-color:gray;
	border:1px gray solid;
	color:white;
}
main .contents .card-menu {
	max-width:1200px;
	margin:0 auto 2vh auto;
	height:40px;
}

main .contents .lines button{
    margin:4px 0 ;
}
main .contents .card-menu .right {
	float:right;
}
main .contents .card-menu .left {
	float:left;
    margin:4px 0;
}
main .contents .card-menu .left input{
    height: 30px;
    margin: 0 4px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ddd;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
/* ---------- headermenu end ---------- */
/* ---------- table start ---------- */
.table-card {
	max-width:1200px;
	margin:2vh auto;
	border:solid 1px #eee;
	background-color:#fff;
}
.table-card .card-header {
	font-size:16px;
	padding:.75rem 1.25rem;
	margin-bottom:0;
	background-color:rgba(0,0,0,.03);
	border-bottom:1px solid rgba(0,0,0,.125);
}
.table-card .card-header .right-menu {
	float:right;
}
.table-card .card-body {
	flex:1 1 auto;
	padding:.75rem 1.25rem;
}
.table-card .card-body th {
	text-align:center;
}

.table-card .card-body thead button{
    border:0;
}
.table-card .card-body td {
    text-align: center;
	min-width: 30px;
}
.table-card .card-body td a {
	text-decoration: none;
    color:black;
}

.table-cala td{
    height:80px;
}
/* ---------- page---------- */

.paging .hide {
	display:block;
	height:0;
	width:0;
	font-size:0;
	line-height:0;
	margin:0;
	padding:0;
	overflow:hidden;
}
.paging {
	top:50px;
	padding:19px;
	text-align:center;
	margin-bottom:200px;
}
.paging a {
	text-decoration:none;
	display:inline-block;
	padding-top:2px;
	vertical-align:middle;
	color:black;
    margin:0 10px;
}
.paging a:hover {
	text-decoration:underline;
}
.paging .btn_arr {
	text-decoration:none;
}
.paging .btn_arr,.paging .on {
	margin:0 3px;
	padding-top:1px;
	border:1px solid #ddd;
	border-radius:30px;
    background-color:black;
    color:white;
    width: 23px;
}
.paging .on {
	padding-top:1px;
	height:22px;
	font-weight:bold;
}
.paging .on:hover {
	text-decoration: none;
}
/* ---------- table start ---------- */
/* ---------- frame start ---------- */
.frame-card {
	max-width:1200px;
	margin:2vh auto;
	border:solid 1px #eee;
	background-color:#fff;
}
.frame-card .card-header {
	font-size:16px;
	padding:.75rem 1.25rem;
	margin-bottom:0;
	background-color:rgba(0,0,0,.03);
	border-bottom:1px solid rgba(0,0,0,.125);
}
.frame-card .card-body {
	flex:1 1 auto;
	padding:1.25rem;
}
dl{
    height:50px;
}
.form-control-label2{
    font-weight: 600;
    width: 100px;
    float: left;
}
.btn-typing{
    padding:.25rem 1rem;
	font-size:.875rem;
	line-height:1.5;
	border-radius:.2rem;
    border:none;
    background: none;
    color:gray;
}
.btn-active{
    color:#2a6ccd;
    font-weight: 600;
}
.btn-sm {
	padding:.25rem 1rem;
	font-size:.875rem;
	line-height:1.5;
	border-radius:.2rem;
}
.card-footer .back {
	color:#2a6ccd;
	border-color:#2a6ccd;
}
.card-footer .ok {
	color:#fff;
	background-color:#2a6ccd;
	border-color:#2a6ccd;
}
.card-footer {
	padding:.75rem 1.25rem;
	background-color:rgba(0,0,0,.03);
}
.btn-primary {
	color:#fff;
	background-color:#2a6ccd;
	border-color:#2a6ccd;
	padding:0 20px;
	height:38px;
	float:right;
	margin-bottom: 40px;
}
input-group-btn .btn-primary {
	border-color:#2a6ccd;
	margin-left: -4px;
	border-color:#2a6ccd !important;
}
.frame-card .nav-tabs{
    border:none;
	display: flow-root;
}
.frame-card .nav-tabs .active{
    border-radius: 4px;
    background-color: #2a6ccd !important;
    color:white !important;
    border:none;
}
.frame-card .nav-tabs .nav-item{
    width: 23%;
    text-align: center;
    border-radius: 4px;
    margin:1%;
	float:left;
}
.frame-card .nav-tabs .nav-link{
    background-color:#eee;
    border-radius: 4px;
	text-decoration: none;
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
}

.tab-pane {
    margin:40px 0 20px 0;
}
.tab-pane .activity-detail{
    padding:10px;
    margin:10px;
    border: solid 1px #eee;
}
.tab-pane .activity-detail a{
    color:black;
}
/* ---------- frame end ---------- */

/* ---------- widgets start ---------- */
.widgets-card {
	max-width:1200px;
	margin:2vh auto;
    min-width: 800px;
    display: block;
}
.widgets-card .card-group{
    float:left;
    width: 18%;
    margin:1%;
    padding:2%;
    background-color:white;
    min-width: 160px;
}
.widgets-card .card-group .h4{
    font-size: 50px;
    line-height: 60px;
}

.con2{
    clear: both;
    
}
/* ---------- widgets end ---------- */
.login-content {
	max-width:540px;
	margin:8vh auto;
}
.login-logo {
	text-align:center;
	margin-bottom:15px;
}
.login-form label {
	color:#878787;
}
.form-group {
	margin-bottom:1rem;
	display: flow-root;
}

.form-control-label {
	width: 15%;
}

.form-group .qrcode{
    width: 140px;
    height: 140px;
    background-color:gray;
}
label {
	display:inline-block;
	margin-bottom:.5rem;
	width: 10%;
	float: left;
	padding: 0.375rem 0.75rem;
}
.login-form .btn {
	width:100%;
	text-transform:uppercase;
	font-size:14px;
	padding:15px;
	border:0;
	border-radius:0.4em;
}
.btn-success {
	color:#fff;
	background-color:#2a6ccd;
	border-color:#2a6ccd;
}
.btn-success:hover {
	background-color:#2465c3;
	border-color:#2465c3;
}
.form-control {
	display:block;
	width:85%;
	height:calc(2.25rem + 2px);
	padding:.375rem .75rem;
	font-size:1rem;
	line-height:1.5;
	color:#495057;
	background-color:#fff;
	background-clip:padding-box;
	border:1px solid #ced4da;
	border-radius:.25rem;
	transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-none {
	display:block;
	width:100%;
	height:calc(2.25rem + 2px);
	padding:.375rem 0;
	font-size:1rem;
	font-weight: 800;
	line-height:1.5;
	color:#495057;
	background-color:#fff;
	background-clip:padding-box;
	border:1px solid #fff;
	border-radius:.25rem;
	transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

*,::after,::before {
	box-sizing: border-box;
}

.form-group .modal{
    text-align: center
}
.form-group .modal .qrcode{
    width: 400px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
}
footer {
	text-align: center;
	margin-top: 200px;
	padding:50px;
	font-size: 12px;
	color:#999;
}
.btn {
    cursor:pointer;
	border:1px solid;
}
.upload_label {
  color: white;
  background-color: red;
  border: 1px red solid;
}


.bg-flat-color-1 {
	background: #20a8d8; }

.tx-center {
	text-align: center;
}

.bx-gray-bg {
	background-color: #e4e4e4;
	border-radius: 20px;
	padding: 20px;
	margin:20px;
}