<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title>Error page</title>
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<main>
    <div th:fragment="con-title">
        <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    </div>
    <div th:fragment="contents">
        <a href="index">Back to Home Page</a>
    </div>

    <div class="con-title">error</div>
    <div class="errorpage">
        <div id="out">
            <div id="in">
                <h1 style="font-size: 100pt; color: #b1b6bd">OOPS!</h1>
                <h3>죄송합니다. 현재 요청을 처리하는데 오류가 발생했습니다. </h3>
                <span>궁금한 점이 있으시다면 관리자에게 문의해 주시기 바랍니다. 감사합니다. </span>
            </div>
        </div>
    </div>
</main>
<script th:fragment="currScript"></script>
</body>
</html>