<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
        <meta charset="UTF-8">
        <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">[[${#httpServletRequest.requestURL.toString().contains('cent/') ? #authentication != null ? #authentication.principal.center.name : '' : '통합 관리자'}]]</title>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link th:href="${(#httpServletRequest.requestURL.toString().contains('cent/')) ? '/css/style2.css':'/css/style1.css' }" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
<!--        <link href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet" />-->
        <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
        <script src="/webjars/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<!--        <script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>-->
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="/js/seochocoin.js" th:src="@{/js/seochocoin.js}"></script>
        <script>
            $(document).ready(function () { // 최상단 체크박스 클릭
                $("#checkall").click(function () { // 클릭되었으면
                    if ($("#checkall").prop("checked")) { // input태그의 name이 chk인 태그들을 찾아서 checked옵션을 true로 정의
                        $("input[name=chk]").prop("checked", true);
                        // 클릭이 안되있으면
                    } else { // input태그의 name이 chk인 태그들을 찾아서 checked옵션을 false로 정의
                        $("input[name=chk]").prop("checked", false);
                    }
                });
            });
        </script>
    </head>
    <body>
        <input checked id="menu_state" type="checkbox">
        <div th:if="${(#httpServletRequest.requestURL.toString().contains('cent/'))}" th:remove="tag"><div layout:replace="~{layout/centnavi::navbar}"></div></div>
        <div th:unless="${(#httpServletRequest.requestURL.toString().contains('cent/'))}" th:remove="tag"><div layout:replace="~{layout/distnavi::navbar}"></div></div>
        <main>
        <div layout:replace="~{layout/header::header}"></div>
        <div class="con-title" th:replace="${view} :: con-title" th:remove="tag">Contents Title</div>
        <div class="contents" th:replace="${view} :: contents" th:remove="tag">Page Contents</div>
        </main>
        <div layout:replace="~{layout/footer::footer}"></div>
        <script th:replace="${view} :: currScript" th:remove="tag"></script>
    </body>
</html>