<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>활동 목록</title>
    </head>
    <body>
        <main>
            <div class="con-title" th:fragment="con-title">
                활동 목록<span> / 센터 활동 목록 / 사용자 목록</span>
            </div>
            <div class="contents" th:fragment="contents">
                <div class="frame-card in">
                    <div class="card-header">
                        <strong>기본정보</strong>
                        <small></small>
                    </div>
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label class=" form-control-label" for="">정원</label> : <span id="limt" th:text="|${memberActivities.size()}/*{activity != null ? activity.limt : #aggregates.sum(activities.![limt])}|">2/12</span>명
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="activitySelect">활동처 명</label>
                            <select class="form-control-lg form-control" id="activitySelect" name="activitySelect">
                                <option value="">전체</option>
                                <option th:each="act : ${activities}" th:value="${act.id}" th:selected="${activity != null && act.id == activity.id}" th:inline="text">[[${act.name}]]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="inCharge">담당자</label>
                            <input class="form-control" id="inCharge" th:value="${activity != null ? activity.inCharge : ''}" placeholder="" type="text" readonly>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="accumCoin">코인적립 총액</label>
                            <!--<input class="form-control" id="accumCoin" th:value="|${#aggregates.sum(memberActivities.?[accumStatus == '적립'].![accumCoin])}|" placeholder="0" type="text" readonly>-->
                            <input class="form-control" id="accumCoin" th:value="${activity.addCoinVal}" placeholder="0" type="text" readonly>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="contact">문의</label>
                            <input class="form-control" id="contact" th:value="${activity != null ? activity.contact : ''}" placeholder="" type="text" readonly>
                        </div>
                        <th:block th:if="${activity != null && activity.id != null && activity.id != ''}">
                        <div class="form-group">
                            <label class=" form-control-label">QR 코드</label>
                            <div class=" qrcode"><img th:src="|https://api.qrserver.com/v1/create-qr-code/?size=250x250&amp;data=id=${activity != null ? activity.id : ''};name=${activity != null ? activity.name : ''};|"></div>
                        </div>
                        <button class="btn back btn-sm" type="button" th:onclick="|window.open('@{modal(id=${activity != null ? activity.id : ''},name=${activity != null ? activity.name : ''})}')|">QR코드 출력</button>
                        </th:block>
                    </div>
                    <div class="card-header">
                        <strong>스케줄 정보</strong>
                        <small></small>
                    </div>
                    <div class="card-body card-block">
                        <div id="calendar"></div>
                    </div>
                    <div class="card-footer">
                        <a href="activity-list">
                            <button class="btn back btn-sm" type="submit">목록보기</button>
                        </a>
                        <a href="activity-add" th:href="@{activity-add(id=*{activity != null ? activity.id : ''})}">
                            <button class="btn back btn-sm" type="button">활동수정</button>
                        </a>
                        <a href="activity-add" th:href="@{activity-regist(id=*{activity != null ? activity.id : ''})}">
                            <button class="btn back btn-sm" type="button">활동신청</button>
                        </a>
                    </div>
                </div>
                <div class="tx-center bx-gray-bg">
                    <h2>누적된 코인 총액</h2>
                    <h2>000 코인</h2>
                    <!--<input class="form-control" id="accumCoin" th:value="|${#aggregates.sum(memberActivities.?[accumStatus == '적립'].![accumCoin])}|" placeholder="0" type="text" readonly>
                    <input class="form-control" id="accumCoin" th:value="${activity.addCoinVal}" placeholder="0" type="text" readonly>-->
                </div>
                <div class="card-filter card-menu lines">
                    <div class="left">
                        <span>기간 :
                            <span id="startDate" th:text="${fromDate}">2019.06.28</span> ~
                            <span id="endDate" th:text="${toDate}">2019.05.16</span>
                        </span><br><br>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeToday">금일</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeWeek">7일</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="change1Month">1개월</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="change3Month">3개월</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeYear">1년</button>
                        <button class="btn btn-sm normal" name="datefilter" id="datefilter" type="button">기간선택</button>
                    </div>
                </div>
                <div class="card-menu">
                    <div class="right">
                        <form name="rangeSearch" id="rangeSearch" class="search-form" th:action="@{/cent/activity-register-list}" method="GET">
                            <input name="activityId" id="activityId" th:value="${activityId}" type="hidden">
                            <input name="fromDate" id="fromDate" th:value="${fromDate}" type="hidden">
                            <input name="toDate" id="toDate" th:value="${toDate}" type="hidden">
                            <input aria-label="Search" class="searchinput" id="keyword" name="keyword" th:value="${keyword}" placeholder="키워드..." type="text">
                            <button class="search-trigger">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-sm blue" type="button" th:onClick="|location.href='@{activityMember-download(activityId=${activityId},keyword=${keyword},fromDate=${fromDate},toDate=${toDate})}'|">엑셀 다운로드</button>
                            <button class="btn btn-sm gray" type="button" id="memberDelete">삭제</button>
                        </form>
                        <form name="delForm" id="delForm" th:action="@{/cent/activity-member-delete}" method="POST">
                            <input name="delIds" id="delIds" type="hidden">
                            <input name="activityId" th:value="${activityId}" type="hidden">
                            <input name="keyword" th:value="${keyword}" type="hidden">
                            <input name="fromDate" th:value="${fromDate}" type="hidden">
                            <input name="toDate" th:value="${toDate}" type="hidden">
                        </form>
                    </div>
                    <div class="left">
                    </div>
                </div>
                <div class="table-card">
                    <div class="card-header">
                        <strong class="card-title">목록</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" id="bootstrap-data-table-export">
                            <thead>
                                <tr>
                                    <th class="th_checkbox"><input id="checkall" type="checkbox"/></th>
                                    <th:block th:if="${activityId == null || activityId == ''}"><th>활동처 명</th></th:block>
                                    <th>사용자명</th>
                                    <th>연락처</th>
                                    <th>결제상태</th>
                                    <th>상태</th>
                                    <th>출석률</th>
                                    <th>등록일</th>
                                    <!--<th>적립코인</th>-->
                                    <th>활동내역</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="memberActivityVO,iterStat : ${memberActivities}" th:object="${memberActivityVO}">
                                    <td class="td_checkbox"><input name="chk" type="checkbox" th:value="*{memberId}"/></td>
                                    <th:block th:if="${activityId == null || activityId == ''}"><td th:text="*{activityName}">활동처 명</td></th:block>
                                    <td><a href="member-detail" th:href="@{member-detail(id=*{memberId})}" th:text="*{memberName}">송중기</a></td>
                                    <td th:text="*{mobile}">101-0000-0000</td>
                                    <td th:text="*{paymentStatus}">대기</td>
                                    <td th:inline="text">[[*{activityStatus}]]
                                        <th:block th:if="*{activityStatus == '신청중'}">
                                            <button type="button" name="activityOK">신청허가</button>
                                            <button type="button" name="activityNG">신청취소</button>
                                            <form name="activityStatusChange" th:action="@{/cent/member-activity-statusChange}" method="GET">
                                                <input name="activityStatus" type="hidden">
                                                <input name="memberId" th:value="*{memberId}" type="hidden">
                                                <input name="activityId" th:value="*{activityId}" type="hidden">
                                                <input name="viewActivityId" th:value="${activityId}" type="hidden">
                                                <input name="keyword" th:value="${keyword}" type="hidden">
                                                <input name="fromDate" th:value="${fromDate}" type="hidden">
                                                <input name="toDate" th:value="${toDate}" type="hidden">
                                            </form>
                                        </th:block>
                                    </td>
                                    <td th:text="|*{attendedActivity > 0 ? attendedActivity * 100 / totActivity : 0} %|">70%</td>
                                    <td th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd')}">2019-01-01</td>
                                    <!--<td th:inline="text">[[*{accumCoin}]]-->
                                        <!--<th:block th:if="*{accumStatus == '적립'}">-->
                                            <!--<button type="button" name="accumNG">적립취소</button>-->
                                        <!--</th:block>-->
                                        <!--<th:block th:if="*{accumStatus != '적립'}">-->
                                            <!--<button type="button" name="accumOK">적립</button>-->
                                        <!--</th:block>-->
                                        <!--<form name="doAccum" th:action="@{/cent/member-accum-statusChange}" method="GET">-->
                                            <!--<input name="accumStatus" type="hidden">-->
                                            <!--<input name="memberId" th:value="*{memberId}" type="hidden">-->
                                            <!--<input name="activityId" th:value="*{activityId}" type="hidden">-->
                                            <!--<input name="viewActivityId" th:value="${activityId}" type="hidden">-->
                                            <!--<input name="keyword" th:value="${keyword}" type="hidden">-->
                                            <!--<input name="fromDate" th:value="${fromDate}" type="hidden">-->
                                            <!--<input name="toDate" th:value="${toDate}" type="hidden">-->
                                        <!--</form>-->
                                    <!--</td>-->
                                    <td><input name="mareport" placeholder="기간선택" type="text" value="" size="25"/>
                                        <!--<button type="button" name="memsearchBtn">활동내역 출력</button>-->
                                        <span style="color: #2DA810" name="memsearchBtn"><i class="fa fa-file-excel-o"></i></span>
                                        <form name="memsearch" th:action="@{/cent/member-activity-download}" method="GET">
                                            <input name="memberId" th:value="*{memberId}" type="hidden">
                                            <input name="activityId" th:value="*{activityId}" type="hidden">
                                            <input name="memFromDate" type="hidden">
                                            <input name="memToDate" type="hidden">
                                        </form>
                                    </td>
                                </tr>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="frame-card in">
                    <div class="card-header">
                        <strong>현장 결제 취소/환불</strong>
                        <small></small>
                    </div>
                    <div class="card-body card-block">
                        허하ㅓㅗ허하
                    </div>
                </div>
            </div>

                <!-- paging -->
                <div class="paging">
                    <a href="#">
                        처음
                    </a>
                    <a href="#">
                        이전
                    </a>
                    <a class="on" href="#">1</a>
                    <!-- D : 활성화페이지일 경우 : on 처리 -->
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">
                        다음
                    </a>
                    <a href="#">
                        끝
                    </a>
                </div>
                <!-- //paging -->
        </main>
        <div th:fragment="currScript"  th:remove="tag">
        <script th:inline="javascript">
            $(function () {
                $('input[name="mareport"]').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });
                $('input[name="mareport"]').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
                    $(this).next().next().children('input:hidden[name="memFromDate"]').val(picker.startDate.format('YYYY-MM-DD'));
                    $(this).next().next().children('input:hidden[name="memToDate"]').val(picker.endDate.format('YYYY-MM-DD'));
                });
                $('input[name="mareport"]').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                    $(this).next().next().children('input:hidden[name="memFromDate"]').val('');
                    $(this).next().next().children('input:hidden[name="memToDate"]').val('');
                });

                $(document).on("change", "#activitySelect", function(e) {
                    $('#activityId').val($(this).val());
                    $('#rangeSearch').submit();
                });

                $(document).on("click", "#memberDelete", function(e) {
                    var ids = $('input[name=chk]:checked').map(function(){
                        return $(this).val();
                    }).get();
                    if ($.isEmptyObject(ids)) {
                        alert("대상 사용자를 선택해 주세요.");
                        return false;
                    }
                    if (!confirm('대상 사용자를 삭제 하겠습니까?')) {
                        return false;
                    }
                    $('#delIds').val(ids);
                    $('#delForm').submit();
                });

                $(document).on("click", 'span[name="memsearchBtn"]', function(e) {
                    $(this).next('form[name="memsearch"]').submit();
                });

                $(document).on("click", 'button[name="activityOK"]', function(e) {
                    $(this).nextAll('form[name="activityStatusChange"]').children('input:hidden[name="activityStatus"]').val('OK');
                    $(this).nextAll('form[name="activityStatusChange"]').submit();
                });
                $(document).on("click", 'button[name="activityNG"]', function(e) {
                    $(this).nextAll('form[name="activityStatusChange"]').children('input:hidden[name="activityStatus"]').val('NG');
                    $(this).nextAll('form[name="activityStatusChange"]').submit();
                });

                $(document).on("click", 'button[name="accumOK"]', function(e) {
                    if (confirm('대상 사용자에 대한 적립을 실행 합니까?')) {
                        $(this).nextAll('form[name="doAccum"]').children('input:hidden[name="accumStatus"]').val('OK');
                        $(this).nextAll('form[name="doAccum"]').submit();
                    }
                });
                $(document).on("click", 'button[name="accumNG"]', function(e) {
                    if (confirm('대상 사용자에 대한 적립취소를 실행 합니까?')) {
                        $(this).nextAll('form[name="doAccum"]').children('input:hidden[name="accumStatus"]').val('NG');
                        $(this).nextAll('form[name="doAccum"]').submit();
                    }
                });

                $('#calendar').fullCalendar({
                    locale: 'ko',
                    height: 550,
                    events: /*[[${calendarSchedule}]]*/ [],
                    timeFormat: 'H:mm',
                    eventClick: function(item, jsEvent, view) {
                        activityScheduleModal.open($('#activityId').val(), item.start.format().substring(0, 10));
                        return false;
                    }
                });
            });
        </script>
        <link href='/css/fullcalendar.min.css' rel='stylesheet' />
        <script src="/js/fullcalendar.min.js" th:src="@{/js/fullcalendar.min.js}"></script>
        <script src='/js/locales-all.js' th:src="@{/js/locales-all.js}"></script>
        </div>
    </body>
</html>