<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>활동 등록</title>
    </head>
    <body>
        <main>
            <div class="con-title" th:fragment="con-title">
                활동<span> / 활동 등록
                </span>
            </div>
            <div class="contents" th:fragment="contents">
                <div class="frame-card in">
                    <div class="card-header">
                        <strong>활동 등록</strong>
                        <small></small>
                    </div>
                    <form id="activityForm" method="post" th:action="@{/cent/activity-add}" th:object="${activity}">
                        <input type="hidden" name="is_modified" th:value="${is_modified == 'modified'}">
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label class=" form-control-label" for="">등록일자 :</label>
                            [[*{createdAt != null ? #temporals.format(createdAt, 'yyyy-MM-dd HH:mm') : #dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm')}]]
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="activitySelect">이전 활동</label>
                            <select class="form-control-lg form-control" id="activitySelect" name="activitySelect" th:disabled="*{id != null}">
                                <option value="">전체</option>
                                <option th:each="act : ${activities}" th:value="${act.id}" th:selected="${act.id == activity.id}" th:inline="text">[[${act.name}]]</option>
                            </select>
                            <br>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="newFlg">
                                            <input class="form-check-input" id="newFlg" name="newFlg" type="checkbox" th:checked="*{id == null}" onclick='return false;'>신규등록
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hr_gline">
                        <div class="form-group">
                            <input id="id" th:field="*{id}" type="hidden">
                            <label class=" form-control-label" for="name">활동명</label>
                            <input class="form-control" id="name" th:field="*{name}" placeholder="활동명 입력" type="text" required>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="inCharge">담당자</label>
                            <input class="form-control" id="inCharge" th:field="*{inCharge}" placeholder="담당자명 입력" type="text">
                            <div th:if="${#fields.hasErrors('inCharge')}" th:errors="*{inCharge}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">활동 유형</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check-inline form-check">
                                    <label class="form-check-label " for="type1">
                                        <input checked class="form-check-input" id="type1" th:field="*{type}" type="radio" value="교육" required>
                                        교육
                                    </label>
                                    <label class="form-check-label " for="type2">
                                        <input class="form-check-input" id="type2" th:field="*{type}" type="radio" value="봉사활동" required>
                                        봉사활동
                                    </label>
                                    <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="errorMessage"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="category">카테고리</label>
                            <div th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="errorMessage"></div>
                            <select class="form-control-lg form-control" id="category" name="category" >
                                <option value="">전체</option>
                                <option th:each="cat : ${categories}" th:value="${cat.id}" th:selected="${cat.id == activity.category}" th:inline="text">[[${cat.actName}]]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="area">지역</label>
                            <input class="form-control" id="area" th:field="*{area}" placeholder="지역 입력" type="text">
                            <div th:if="${#fields.hasErrors('area')}" th:errors="*{area}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="map">활동장소</label>
                            <input class="form-control" id="map" th:field="*{map}" placeholder="주소 입력" type="text">
                            <div th:if="${#fields.hasErrors('map')}" th:errors="*{map}" class="errorMessage"></div>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="button" onclick="viewkakaomap();">지도</button>
                            </div>
                            <div id="kakaomap" style="width:100%;height:350px;"></div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class="form-control-label" for="detail">활동 내용</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea class="form-control" id="detail" th:field="*{detail}" placeholder="내용..." rows="4"></textarea>
                            </div>
                            <div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" class="errorMessage"></div>
                        </div>
                        <hr class="hr_gline">
                        <div class="form-group">
                            <div class="col col-md-3">
                                <span class="annotation" style="color: orangered;" th:text="${is_modified != 'modified' ? ' (* 사용자가 신청되어 있는 활동의 스케줄은 변경할 수 없습니다.)' : ''}"></span>
                            </div>
                            <div class="col col-md-3">
                                <label class=" form-control-label">활동 횟수</label>
                            </div>
                            <div class="col col-md-9">
                                <input id="hasPeriod" name="hasPeriod" value="Y" type="hidden">
                            </div>
                            <div class="calendar-o">
                                <button class="btn btn-sm normal" name="period" id="period" type="button" th:disabled="${is_modified != 'modified'}">기간선택</button>
                                <input class="input-cl-0" id="startDate" th:field="*{startDate}" type="text" readonly>
                                <input class="input-cl-0" id="endDate" th:field="*{endDate}" type="text" readonly>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">요일</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="mon">
                                            <input class="form-check-input" id="mon" th:field="*{mon}" type="checkbox" value="Y" th:attrappend="onclick=${is_modified != 'modified' ? 'return false;' : ''}">월
                                        </label>
                                        <input class="input-cl-0" id="monFrom" th:field="*{monFrom}" pattern="[0-9]{2}:[0-9]{2}" type="time" th:readonly="${is_modified != 'modified'}">
                                        ~
                                        <input class="input-cl-0" id="monTo" th:field="*{monTo}" pattern="[0-9]{2}:[0-9]{2}" type="time" th:readonly="${is_modified != 'modified'}">
                                        <div th:if="${#fields.hasErrors('mon')}" th:errors="*{mon}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="tue">
                                            <input class="form-check-input" id="tue" th:field="*{tue}" type="checkbox" value="Y" th:attrappend="onclick=${is_modified != 'modified' ? 'return false;' : ''}">화
                                        </label>
                                        <input class="input-cl-0" id="tueFrom" th:field="*{tueFrom}" pattern="[0-9]{2}:[0-9]{2}" type="time" th:readonly="${is_modified != 'modified'}">
                                        ~
                                        <input class="input-cl-0" id="tueTo" th:field="*{tueTo}" pattern="[0-9]{2}:[0-9]{2}" type="time" th:readonly="${is_modified != 'modified'}">
                                        <div th:if="${#fields.hasErrors('tue')}" th:errors="*{tue}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="wed">
                                            <input class="form-check-input" id="wed" th:field="*{wed}" type="checkbox" value="Y" th:attrappend="onclick=${is_modified != 'modified' ? 'return false;' : ''}">수
                                        </label>
                                        <input class="input-cl-0" id="wedFrom" th:field="*{wedFrom}" pattern="[0-9]{2}:[0-9]{2}" type="time" th:readonly="${is_modified != 'modified'}">
                                        ~
                                        <input class="input-cl-0" id="wedTo" th:field="*{wedTo}" pattern="[0-9]{2}:[0-9]{2}" type="time" th:readonly="${is_modified != 'modified'}">
                                        <div th:if="${#fields.hasErrors('wed')}" th:errors="*{wed}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="thu">
                                            <input class="form-check-input" id="thu" th:field="*{thu}" type="checkbox" value="Y" th:attrappend="onclick=${is_modified != 'modified' ? 'return false;' : ''}">목
                                        </label>
                                        <input class="input-cl-0" id="thuFrom" th:field="*{thuFrom}" pattern="[0-9]{2}:[0-9]{2}" type="time" th:readonly="${is_modified != 'modified'}">
                                        ~
                                        <input class="input-cl-0" id="thuTo" th:field="*{thuTo}" pattern="[0-9]{2}:[0-9]{2}" type="time" th:readonly="${is_modified != 'modified'}">
                                        <div th:if="${#fields.hasErrors('thu')}" th:errors="*{thu}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="fri">
                                            <input class="form-check-input" id="fri" th:field="*{fri}" type="checkbox" value="Y" th:attrappend="onclick=${is_modified != 'modified' ? 'return false;' : ''}">금
                                        </label>
                                        <input class="input-cl-0" id="friFrom" th:field="*{friFrom}" pattern="[0-9]{2}:[0-9]{2}" type="time" th:readonly="${is_modified != 'modified'}">
                                        ~
                                        <input class="input-cl-0" id="friTo" th:field="*{friTo}" pattern="[0-9]{2}:[0-9]{2}" type="time" th:readonly="${is_modified != 'modified'}">
                                        <div th:if="${#fields.hasErrors('fri')}" th:errors="*{fri}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hr_gline">
                        <div class="form-group">
                            <label class=" form-control-label" for="limt">정원(명)</label>
                            <input class="form-control" id="limt" th:field="*{limt}" placeholder="00" type="number">
                            <div th:if="${#fields.hasErrors('limt')}" th:errors="*{limt}" class="errorMessage"></div>
                        </div>
                        <hr class="hr_gline">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">코인 사용 여부</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="useCoin1">
                                            <input checked class="form-check-input" id="useCoin1" th:field="*{useCoin}" type="radio" value="N">
                                            미사용
                                        </label>
                                        <label class="form-check-label " for="useCoin2">
                                            <input class="form-check-input" id="useCoin2" th:field="*{useCoin}" type="radio" value="Y">
                                            사용
                                        </label>
                                        <input class="input-cl-0" id="useCoinVal" th:field="*{useCoinVal}" placeholder="2,000" type="text"><b>Max</b>
                                        <div th:if="${#fields.hasErrors('useCoin')}" th:errors="*{useCoin}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">코인 적립 여부</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="addCoin1">
                                            <input checked class="form-check-input" id="addCoin1" th:field="*{addCoin}" type="radio" value="N" required>
                                            미적립
                                        </label>
                                        <label class="form-check-label " for="addCoin2">
                                            <input class="form-check-input" id="addCoin2" th:field="*{addCoin}" type="radio" value="Y" required>
                                            적립
                                        </label>
                                        <input class="input-cl-0" id="addCoinVal" th:field="*{addCoinVal}" placeholder="2,000" type="text">
<!--                                        <input class="form-check-input" id="addCoinAfter" th:field="*{addCoinAfter}" type="checkbox" value="Y">승인 여부-->
                                        <div th:if="${#fields.hasErrors('addCoin')}" th:errors="*{addCoin}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">출결 확인</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="attendCheck1">
                                            <input checked class="form-check-input" id="attendCheck1" th:field="*{attendCheck}" type="radio" value="N" required>
                                            불필요
                                        </label>
                                        <label class="form-check-label " for="attendCheck2">
                                            <input class="form-check-input" id="attendCheck2" th:field="*{attendCheck}" type="radio" value="Y" required>
                                            필요
                                        </label>&emsp; &emsp; &emsp;
                                                                                                 출석률  :
                                        <input class="input-cl-0" id="attendRate" th:field="*{attendRate}" placeholder="00" type="number">%
                                        <div th:if="${#fields.hasErrors('attendCheck')}" th:errors="*{attendCheck}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">가격 정보</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="usePriceInfo1">
                                            <input checked class="form-check-input" id="usePriceInfo1" th:field="*{usePriceInfo}" type="radio" value="N" required>
                                            미사용
                                        </label>
                                        <label class="form-check-label " for="usePriceInfo2">
                                            <input class="form-check-input" id="usePriceInfo2" th:field="*{usePriceInfo}" type="radio" value="Y" required>
                                            사용
                                        </label>&emsp; &emsp; &emsp;
                                        <input class="input-cl-0" id="price" th:field="*{price}" placeholder="00" type="number">원
                                        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">사용처 자동 등록</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="autoAddMarket1">
                                            <input checked class="form-check-input" id="autoAddMarket1" th:field="*{autoAddMarket}" type="radio" value="N" th:attrappend="onclick=*{id != null ? 'return false;' : ''}" required>
                                            미등록
                                        </label>
                                        <label class="form-check-label " for="autoAddMarket2">
                                            <input class="form-check-input" id="autoAddMarket2" th:field="*{autoAddMarket}" type="radio" value="Y" th:attrappend="onclick=*{id != null ? 'return false;' : ''}" required>
                                            등록
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hr_gline">
                        <th:block th:if="${activity.id != null && activity.id != ''}">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">QR 코드</label>
                                <div class="qrcode"><img th:src="|https://api.qrserver.com/v1/create-qr-code/?size=250x250&amp;data=id=*{id};name=*{name};|"></div>
                            </div>
                        </div>
                        <button class="btn back btn-sm" type="button" th:onclick="|window.open('@{modal(id=*{id},name=*{name})}')|">QR코드 출력</button>
                        <hr class="hr_gline">
                        </th:block>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">게시 여부</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="openActivity1">
                                            <input checked class="form-check-input" id="openActivity1" th:field="*{openActivity}" type="radio" value="N" required>
                                            미게시
                                        </label>
                                        <label class="form-check-label " for="openActivity2">
                                            <input class="form-check-input" id="openActivity2" th:field="*{openActivity}" type="radio" value="Y" required>
                                            게시
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="activity-list">
                            <button class="btn back btn-sm" type="button">목록보기</button>
                        </a>
                        <a href="javascript:history.back()">
                            <button class="btn back btn-sm" type="button">취소</button>
                        </a>
                        <button class="btn ok btn-sm" type="submit">저장</button>
                    </div>
                    </form>
                </div>
            </div>
        </main>
        <div th:fragment="currScript"  th:remove="tag">
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1d3660943aacb562f6f4b7dbffcf5e05&libraries=services"></script>
        <script>
            $(function () {
                if ($('#map').val()) {
                    viewkakaomap();
                }
                $('#period').daterangepicker({
                    "startDate": moment(),
                    "endDate": moment().add(1, 'week')
                }, function(start, end, label) {
                    $('#startDate').val(start.format('YYYY-MM-DD'));
                    $('#endDate').val(end.format('YYYY-MM-DD'));
                });

                $(document).on("change", "#activitySelect", function(e) {
                    if ($(this).val() == '') {
                        $('#name').val('');
                        $('#inCharge').val('');
                        $('input:radio[name=type]').prop('checked', false);
                        $('#category').val('');
                        $('#area').val('');
                        $('#detail').val('');
                        $('#startDate').val('');
                        $('#endDate').val('');
                        $('#endDate').val('');
                        $('#mon').prop('checked', false);
                        $('#monFrom').val('');
                        $('#monTo').val('');
                        $('#tue').prop('checked', false);
                        $('#tueFrom').val('');
                        $('#tueTo').val('');
                        $('#wed').prop('checked', false);
                        $('#wedFrom').val('');
                        $('#wedTo').val('');
                        $('#thu').prop('checked', false);
                        $('#thuFrom').val('');
                        $('#thuTo').val('');
                        $('#fri').prop('checked', false);
                        $('#friFrom').val('');
                        $('#friTo').val('');
                        $('#limt').val('');
                        $('input:radio[name=useCoin]').prop('checked', false);
                        $('#useCoinVal').val('');
                        $('input:radio[name=addCoin]').prop('checked', false);
                        $('#addCoinVal').val('');
                        $('#addCoinAfter').prop('checked', false);
                        $('input:radio[name=attendCheck]').prop('checked', false);
                        $('#attendRate').val('');
                        $('input:radio[name=usePriceInfo]').prop('checked', false);
                        $('#price').val('');
                        $('input:radio[name=autoAddMarket]').prop('checked', false);
                        $('input:radio[name=openActivity]').prop('checked', false);
                    } else {
                        $.ajax({
                            url: '/cent/activity-load',
                            type: 'GET',
                            data: {
                                id: $(this).val()
                                },
                            dataType: 'json',
                            timeout: 1000,
                            success: function (data, dataType) {
                                $('#name').val(data.name);
                                $('#inCharge').val(data.inCharge);
                                var $radios = $('input:radio[name=type]');
                                $radios.filter('[value='+data.type+']').prop('checked', true);
                                $('#category').val(data.category);
                                $('#area').val(data.area);
                                $('#detail').val(data.detail);
                                $('#startDate').val(data.startDate);
                                $('#endDate').val(data.endDate);
                                $('#endDate').val(data.endDate);
                                if ('Y' == data.mon) {
                                    $('#mon').prop('checked', true);
                                    $('#monFrom').val(data.monFrom);
                                    $('#monTo').val(data.monTo);
                                }
                                if ('Y' == data.tue) {
                                    $('#tue').prop('checked', true);
                                    $('#tueFrom').val(data.tueFrom);
                                    $('#tueTo').val(data.tueTo);
                                }
                                if ('Y' == data.wed) {
                                    $('#wed').prop('checked', true);
                                    $('#wedFrom').val(data.wedFrom);
                                    $('#wedTo').val(data.wedTo);
                                }
                                if ('Y' == data.thu) {
                                    $('#thu').prop('checked', true);
                                    $('#thuFrom').val(data.thuFrom);
                                    $('#thuTo').val(data.thuTo);
                                }
                                if ('Y' == data.fri) {
                                    $('#fri').prop('checked', true);
                                    $('#friFrom').val(data.friFrom);
                                    $('#friTo').val(data.friTo);
                                }
                                $('#limt').val(data.limt);
                                $radios = $('input:radio[name=useCoin]');
                                $radios.filter('[value='+data.useCoin+']').prop('checked', true);
                                $('#useCoinVal').val(data.useCoinVal);
                                $radios = $('input:radio[name=addCoin]');
                                $radios.filter('[value='+data.addCoin+']').prop('checked', true);
                                $('#addCoinVal').val(data.addCoinVal);
                                if ('Y' == data.addCoinAfter) {
                                    $('#addCoinAfter').prop('checked', true);
                                }
                                $radios = $('input:radio[name=attendCheck]');
                                $radios.filter('[value='+data.attendCheck+']').prop('checked', true);
                                $('#attendRate').val(data.attendRate);
                                $radios = $('input:radio[name=usePriceInfo]');
                                $radios.filter('[value='+data.usePriceInfo+']').prop('checked', true);
                                $('#price').val(data.price);
                                $radios = $('input:radio[name=autoAddMarket]');
                                $radios.filter('[value='+data.autoAddMarket+']').prop('checked', true);
                                $radios = $('input:radio[name=openActivity]');
                                $radios.filter('[value='+data.openActivity+']').prop('checked', true);
                            }
                        });
                    }
                });
            });
            function viewkakaomap() {
                var mapContainer = document.getElementById('kakaomap'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

                // 지도를 생성합니다
                var map = new kakao.maps.Map(mapContainer, mapOption);

                // 주소-좌표 변환 객체를 생성합니다
                var geocoder = new kakao.maps.services.Geocoder();

                // 주소로 좌표를 검색합니다
                geocoder.addressSearch($('#map').val(), function(result, status) {

                    // 정상적으로 검색이 완료됐으면
                    if (status === kakao.maps.services.Status.OK) {

                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: coords
                        });

                        // 인포윈도우로 장소에 대한 설명을 표시합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content: '<div style="width:150px;text-align:center;padding:6px 0;">'+$('#name').val()+'</div>'
                        });
                        infowindow.open(map, marker);

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords);
                    }
                });
            }
        </script>
        </div>
    </body>
</html>