<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>활동 신청</title>
    </head>
    <body>
        <main>
            <div class="con-title" th:fragment="con-title">
                활동<span> / 활동 신청</span>
            </div>
            <div class="contents" th:fragment="contents">
                <div class="frame-card in">
                    <div class="card-header">
                        <strong>활동 신청</strong>
                        <small></small>
                    </div>
                    <form id="activityForm" method="post" th:action="@{/cent/activity-regist}" th:object="${schedule}">
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label class=" form-control-label" for="">등록일자 :</label>
                            [[*{activity != null ? #temporals.format(activity.createdAt, 'yyyy-MM-dd hh:mm') : ''}]]
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="">정원 : <span id="limt" th:text="|${schedule.activity != null ? schedule.activity.limt : #aggregates.sum(activities.![limt])}|">2/12</span></label>
                        </div>
                        <div class="form-group">
                            <input id="id" th:field="*{activity.id}" type="hidden">
                            <input id="centerId" th:field="*{activity.centerId}" type="hidden">
                            <input id="addCoinVal" th:field="*{activity.addCoinVal}" type="hidden">
                            <label class=" form-control-label" for="activitySelect">활동처명</label>
                            <select class="form-control-lg form-control" id="activitySelect" name="activitySelect">
                                <!--<option value="">전체</option>-->
                                <option th:each="act : ${activities}" th:value="${act.id}" th:selected="${act.id == schedule.activity.id}" th:inline="text">[[${act.name}]]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">활동 유형</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check-inline form-check">
                                    <label class="form-check-label " for="type1">
                                        <input checked class="form-check-input" id="type1" th:field="*{activity.type}" type="radio" value="교육" required disabled>
                                        교육
                                    </label>
                                    <label class="form-check-label " for="type2">
                                        <input class="form-check-input" id="type2" th:field="*{activity.type}" type="radio" value="봉사활동" required disabled>
                                        봉사활동
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="">가격 : [[*{#numbers.formatInteger(activity.price,1,'COMMA')}]](원)</label>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="">코인 적립 : [[*{#numbers.formatInteger(activity.addCoinVal,1,'COMMA')}]] [ 적립조건 - 출석률 [[*{activity.attendRate}]]% 이상 ]</label>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="inCharge">담당자</label>
                            <input class="form-control" id="inCharge" th:field="*{activity.inCharge}" placeholder="담당자명 입력" type="text" readonly>
                            <div th:if="${#fields.hasErrors('activity.inCharge')}" th:errors="*{activity.inCharge}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="contact">문의</label>
                            <input class="form-control" id="contact" th:field="*{activity.contact}" type="text" readonly>
                            <div th:if="${#fields.hasErrors('activity.contact')}" th:errors="*{activity.contact}" class="errorMessage"></div>
                        </div>
                        <hr class="hr_gline">
                        <div class="form-group">
                            <div class="col col-md-3">
                                <span class="annotation" style="color: orangered;">(* 활동스케줄의 수정은 활동수정에서 가능합니다.)</span>
                            </div>
                            <div class="col col-md-3">
                                <label class=" form-control-label">활동 횟수</label>
                            </div>
                            <div class="col col-md-9">
                                <input id="hasPeriod" name="activity.hasPeriod" value="Y" type="hidden">
                            </div>
                            <div class="calendar-o">
                                <button class="btn btn-sm normal" name="period" id="period" type="button" disabled>기간선택</button>
                                <input class="input-cl-0" id="startDate" th:field="*{activity.startDate}" type="text" readonly>
                                <input class="input-cl-0" id="endDate" th:field="*{activity.endDate}" type="text" readonly>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">요일</label>&nbsp;&nbsp;
                                <button class="btn back btn-sm" name="memSearch" data-target="all" type="button">전체 요일 추가 사용자 검색</button>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="mon">
                                            <input class="form-check-input" id="mon" th:field="*{activity.mon}" type="checkbox" value="Y" onclick="return false;">월
                                            <input type="hidden" name="!activity.mon" value="N" />
                                        </label>
                                        <input class="input-cl-0" id="monFrom" th:field="*{activity.monFrom}" placeholder="00" type="time" readonly>
                                        ~
                                        <input class="input-cl-0" id="monTo" th:field="*{activity.monTo}" placeholder="00" type="time" readonly>
                                        사용자 :
                                        <input id="monMemIds" th:field="*{monMemIds}" type="hidden">
                                        <input class="input-cl-0" id="monMemNms" th:field="*{monMemNms}" placeholder="" type="text" readonly>
                                        <button class="btn back btn-sm" name="memSearch" data-target="mon" type="button">사용자 검색</button>
                                    </div>
                                    <div th:if="${#fields.hasErrors('activity.mon')}" th:errors="*{activity.mon}" class="errorMessage"></div>
                                </div>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="tue">
                                            <input class="form-check-input" id="tue" th:field="*{activity.tue}" type="checkbox" value="Y" onclick="return false;">화
                                            <input type="hidden" name="!activity.tue" value="N" />
                                        </label>
                                        <input class="input-cl-0" id="tueFrom" th:field="*{activity.tueFrom}" placeholder="00" type="time" readonly>
                                        ~
                                        <input class="input-cl-0" id="tueTo" th:field="*{activity.tueTo}" placeholder="00" type="time" readonly>
                                        사용자 :
                                        <input id="tueMemIds" th:field="*{tueMemIds}" type="hidden">
                                        <input class="input-cl-0" id="tueMemNms" th:field="*{tueMemNms}" placeholder="" type="text" readonly>
                                        <button class="btn back btn-sm" name="memSearch" data-target="tue" type="button">사용자 검색</button>
                                    </div>
                                    <div th:if="${#fields.hasErrors('activity.tue')}" th:errors="*{activity.tue}" class="errorMessage"></div>
                                </div>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="wed">
                                            <input class="form-check-input" id="wed" th:field="*{activity.wed}" type="checkbox" value="Y" onclick="return false;">수
                                            <input type="hidden" name="!activity.wed" value="N" />
                                        </label>
                                        <input class="input-cl-0" id="wedFrom" th:field="*{activity.wedFrom}" placeholder="00" type="time" readonly>
                                        ~
                                        <input class="input-cl-0" id="wedTo" th:field="*{activity.wedTo}" placeholder="00" type="time" readonly>
                                        사용자 :
                                        <input id="wedMemIds" th:field="*{wedMemIds}" type="hidden">
                                        <input class="input-cl-0" id="wedMemNms" th:field="*{wedMemNms}" placeholder="" type="text" readonly>
                                        <button class="btn back btn-sm" name="memSearch" data-target="wed" type="button">사용자 검색</button>
                                    </div>
                                    <div th:if="${#fields.hasErrors('activity.wed')}" th:errors="*{activity.wed}" class="errorMessage"></div>
                                </div>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="thu">
                                            <input class="form-check-input" id="thu" th:field="*{activity.thu}" type="checkbox" value="Y" onclick="return false;">목
                                            <input type="hidden" name="!activity.thu" value="N" />
                                        </label>
                                        <input class="input-cl-0" id="thuFrom" th:field="*{activity.thuFrom}" placeholder="00" type="time" readonly>
                                        ~
                                        <input class="input-cl-0" id="thuTo" th:field="*{activity.thuTo}" placeholder="00" type="time" readonly>
                                        사용자 :
                                        <input id="thuMemIds" th:field="*{thuMemIds}" type="hidden">
                                        <input class="input-cl-0" id="thuMemNms" th:field="*{thuMemNms}" placeholder="" type="text" readonly>
                                        <button class="btn back btn-sm" name="memSearch" data-target="thu" type="button">사용자 검색</button>
                                    </div>
                                    <div th:if="${#fields.hasErrors('activity.thu')}" th:errors="*{activity.thu}" class="errorMessage"></div>
                                </div>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="fri">
                                            <input class="form-check-input" id="fri" th:field="*{activity.fri}" type="checkbox" value="Y" onclick="return false;">금
                                            <input type="hidden" name="!activity.fri" value="N" />
                                        </label>
                                        <input class="input-cl-0" id="friFrom" th:field="*{activity.friFrom}" placeholder="00" type="time" readonly>
                                        ~
                                        <input class="input-cl-0" id="friTo" th:field="*{activity.friTo}" placeholder="00" type="time" readonly>
                                        사용자 :
                                        <input id="friMemIds" th:field="*{friMemIds}" type="hidden">
                                        <input class="input-cl-0" id="friMemNms" th:field="*{friMemNms}" placeholder="" type="text" readonly>
                                        <button class="btn back btn-sm" name="memSearch" data-target="fri" type="button">사용자 검색</button>
                                    </div>
                                    <div th:if="${#fields.hasErrors('activity.fri')}" th:errors="*{activity.fri}" class="errorMessage"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">날짜 지정(1회성)</label>
                            </div>
                            <div class="col col-md-9">
                                <input class="input-cl-0" id="oneShotDate" name="oneShotDate" type="text">
                                사용자 :
                                <input class="input-cl-0" id="oneMemNms" name="oneMemNms" type="text" readonly>
                                <button class="btn back btn-sm" name="memSearch" data-target="one" type="button">사용자 검색</button>
                                <button class="btn btn-sm normal" name="oneShot" id="oneShot" type="button">등록</button>
                                <table class="table table-striped table-bordered" id="oneShot-data-table-export">
                                    <thead>
                                    <tr>
                                        <th>사용자명</th>
                                        <th>연락처</th>
                                        <th>활동일</th>
                                        <th>출석</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="oneSchedule,iterStat : ${schedules}" th:object="${oneSchedule}">
                                        <td th:text="*{memberName}">송중기</td>
                                        <td th:text="*{memberMobile}">000-0000-0000</td>
                                        <td th:text="*{#temporals.format(activityDate, 'yyyy-MM-dd')}">2019-01-01</td>
                                        <td th:inline="text">[[*{attendedAt != null ? #temporals.format(attendedAt, 'yyyy-MM-dd HH:mm') : ''}]]
                                            <th:block th:if="*{attendedAt == null}">
                                                <button type="button" name="oneScheduleDelete" th:data-href="@{activity-schedule-delete(memberId=*{memberId},activityId=*{activityId},activityDate=*{activityDate})}">삭제</button>
                                            </th:block>
                                            <input name="alreadySchedule" th:value="|*{activityDate}*{memberId}|" type="hidden">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr class="hr_gline">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">코인 사용 여부</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="useCoin1">
                                            <input checked class="form-check-input" id="useCoin1" th:field="*{activity.useCoin}" type="radio" value="N">
                                            미사용
                                        </label>
                                        <label class="form-check-label " for="useCoin2">
                                            <input class="form-check-input" id="useCoin2" th:field="*{activity.useCoin}" type="radio" value="Y">
                                            사용
                                        </label>
                                        <input class="input-cl-0" id="useCoinVal" th:field="*{activity.useCoinVal}" placeholder="2,000" type="text">
                                        <div th:if="${#fields.hasErrors('activity.useCoin')}" th:errors="*{activity.useCoin}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="activity-list">
                            <button class="btn back btn-sm" type="button">목록보기</button>
                        </a>
                        <a href="javascript:history.back()">
                            <button class="btn back btn-sm" type="button">취소</button>
                        </a>
                        <button class="btn ok btn-sm" type="button" name="doSubmit">저장</button>
                    </div>
                    </form>
                    <form id="doOneShot" name="doOneShot" th:action="@{/cent/activity-regist-oneShot}" method="GET">
                        <input id="activityId" name="activityId" th:value="${schedule.activity.id}" type="hidden">
                        <input id="oneShotDateHidden" name="oneShotDate" type="hidden">
                        <input id="oneMemIds" name="oneMemIds" type="hidden">
                    </form>
                </div>
            </div>
        </main>
        <script th:fragment="currScript">
            $(function () {
                // dataTable設定
                $("#oneShot-data-table-export").DataTable({
                    lengthChange: false,
                    searching: false,
                    stripeClasses: [],
                    order: [],
                    paging: false,
                    language: {
                        emptyTable : "",
                        zeroRecords : "",
                        info : "_TOTAL_중 _START_-_END_ ",
                        infoEmpty : "",
                        paginate : {
                            first : "처음",
                            previous : "이전",
                            next : "다음",
                            last : "끝"
                        },
                    },
                    dom:
                      "<'row'<'col-sm-12'tr>>" +
                      "<'row'<'col-sm-6 right'i>>" +
                      "<'row'<'col-sm-12'p>>"
                });

                $('#period').daterangepicker({
                    "startDate": moment(),
                    "endDate": moment().add(1, 'week')
                }, function(start, end, label) {
                    $('#startDate').val(start.format('YYYY-MM-DD'));
                    $('#endDate').val(end.format('YYYY-MM-DD'));
                });

                $('#oneShotDate').daterangepicker({
                    singleDatePicker: true,
                    autoUpdateInput: false,
                    "locale": {
                        format: 'YYYY-MM-DD'
                    },
                    "minDate": moment(),
                }, function(start, end, label) {
                    $('#oneShotDate').val(start.format('YYYY-MM-DD'));
                });

                $(document).on("click", "#oneShot", function(e) {
                    if (!$('#oneShotDate').val() || !$('#oneMemNms').val()) {
                        alert("대상 날짜/사용자를 지정해 주세요.");
                        return false;
                    }
                    var dt = moment($('#oneShotDate').val(), "YYYY-MM-DD")
                    var target = dt.format('ddd').toLowerCase();
                    if (!$('#'+target).prop("checked") || !$('#'+target+'From').val() || !$('#'+target+'To').val()) {
                        alert("대상 요일과 날짜를 맞춰 주세요. (시간 지정까지 필요합니다)");
                        return false;
                    }
                    console.log($('#oneShotDate').val() + $('#oneMemIds').val());
                    console.log($("input[name='alreadySchedule']").val());

                    if ($("input[name='alreadySchedule']").val() == $('#oneShotDate').val() + $('#oneMemIds').val() ) {
                        alert("대상 날짜에 등록된 사용자입니다.");
                        return false;
                    }
                    if ($.inArray($('#oneMemNms').val(), $('#monMemNms').val()) === -1
                     || $.inArray($('#oneMemNms').val(), $('#tueMemNms').val()) === -1
                     || $.inArray($('#oneMemNms').val(), $('#wedMemNms').val()) === -1
                     || $.inArray($('#oneMemNms').val(), $('#thuMemNms').val()) === -1
                     || $.inArray($('#oneMemNms').val(), $('#friMemNms').val()) === -1) {
                        if (!confirm('이미 등록된 사용자입니다. 추가 하겠습니까?')) {
                            return false;
                        }
                    }
                    $('#oneShotDateHidden').val($('#oneShotDate').val())
                    $('#doOneShot').submit();

                });

                $(document).on("change", "#activitySelect", function(e) {
                    window.location.href = "/cent/activity-regist?id=" + $(this).val();
                });

                $(document).on("click", "button[name='memSearch']", function(e) {
                    var target = $(this).data('target');

                    if (target == 'all') {
                        var weekday = ['mon','tue','wed','thu','fri'];
                        var isSelected = false;
                        $.each(weekday, function(index, elem) {
                            if ($('#'+elem).prop("checked") && $('#'+elem+'From').val() && $('#'+elem+'To').val()) {
                                isSelected = true;
                                return false;
                            }
                        });
                        if (!isSelected) {
                            alert("대상 요일과 날짜를 맞춰 주세요. (시간 지정까지 필요합니다)");
                            return false;
                        }
                    }
                    if (target != 'one' && target != 'all') {
                        if (!$('#'+target).prop("checked")) {
                            alert("대상 요일을 선택해 주세요.");
                            return false;
                        }
                        if (!$('#'+target+'From').val() || !$('#'+target+'To').val()) {
                            alert("대상 시간을 지정해 주세요.");
                            return false;
                        }
                    }
                    memberSearchModal.open(target);
                    return false;
                });

                $(document).on("click", "button[name='oneScheduleDelete']", function(e) {
                    if (!confirm('대상 사용자를 삭제 하겠습니까?')) {
                        return false;
                    }
                    window.location.href = $(this).data('href');
                });

                $(document).on("click", "button[name='doSubmit']", function(e) {

                    if (!confirm('활동 신청을 반영 하시겠습니까?')) {
                        return false;
                    } else {
                        $("#activityForm").submit();
                    }
                });
            });
       </script>
    </body>
</html>