<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>활동 출석체크 - 서초구청Admin</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link th:href="${(#httpServletRequest.requestURL.toString().contains('cent/')) ? '/css/style2.css':'/css/style1.css' }" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
        <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
        <script src="/webjars/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <script src="/js/seochocoin.js" th:src="@{/js/seochocoin.js}"></script>
    </head>
    <body>
        <main>
            <div class="contents">
                <div class="frame-card in">
                    <div class="card-header">
                        <strong>활동 출석체크</strong>
                        <small></small>
                    </div>
                    <div class="card-menu">
                        <div class="left"></div>
                        <div class="right">
                            <button class="btn btn-sm blue" type="button" id="windowClose">닫기</button>&nbsp;
                        </div>
                    </div>
                    <div class="table-card">
                        <div class="card-body">
                            <table class="table table-striped table-bordered" id="bootstrap-data-table-export">
                                <thead>
                                <tr>
                                    <th>활동처명</th>
                                    <th>사용자명</th>
                                    <th>연락처</th>
                                    <th>활동일</th>
                                    <th>출석체크</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="schedule,iterStat : ${schedules}" th:object="${schedule}">
                                    <td th:text="*{activityName}">송중기</td>
                                    <td th:text="*{memberName}">송중기</td>
                                    <td th:text="*{memberMobile}">000-0000-0000</td>
                                    <td th:text="*{#temporals.format(activityDate, 'yyyy-MM-dd')}">2019-01-01</td>
                                    <td th:inline="text">[[*{attendedAt != null ? #temporals.format(attendedAt, 'yyyy-MM-dd HH:mm') : ''}]]
                                        <th:block th:if="*{attendedAt == null}">
                                            <!--<button type="button" name="attend">출석</button>-->
                                            <span style="color: #2DA810" name="attend"><i class="fa fa-check"></i></span>
                                        </th:block>
                                        <th:block th:if="*{attendedAt != null}">
                                            <!--<button type="button" name="attend">출석 취소</button>-->
                                            <span style="color: #FF3531" name="cancel"><i class="fa fa-times"></i></span>
                                        </th:block>
                                        <form name="doAttend" th:action="@{/cent/activity-schedule-attend}" method="GET">
                                            <input name="memberId" th:value="*{memberId}" type="hidden">
                                            <input name="activityId" th:value="*{activityId}" type="hidden">
                                            <input name="activityDate" th:value="*{activityDate}" type="hidden">
                                        </form>
                                        <form name="doAttendCancel" th:action="@{/cent/activity-schedule-attend-cancel}" method="GET">
                                            <input name="memberId" th:value="*{memberId}" type="hidden">
                                            <input name="activityId" th:value="*{activityId}" type="hidden">
                                            <input name="activityDate" th:value="*{activityDate}" type="hidden">
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div layout:replace="~{layout/footer::footer}"></div>
        <script>
            $(function () {
                $(document).on("click", "#windowClose", function(e) {
                    window.opener.activityScheduleModal.callback();
                    window.close();
                });
                $(document).on("click", 'span[name="attend"]', function(e) {
                    if (confirm('대상 사용자에 대한 출석을 실행 합니까?')) {
                        $(this).nextAll('form[name="doAttend"]').submit();
                    }
                });
                $(document).on("click", 'span[name="cancel"]', function(e) {
                    if (confirm('대상 사용자에 대한 출석을 취소 합니까?')) {
                        $(this).nextAll('form[name="doAttendCancel"]').submit();
                    }
                });
            });
        </script>
    </body>
</html>