<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>사용자 검색 - 서초구청Admin</title>
        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link th:href="${(#httpServletRequest.requestURL.toString().contains('cent/')) ? '/css/style2.css':'/css/style1.css' }" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css"/>
        <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
        <script src="/webjars/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" type="text/javascript"></script>
        <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" type="text/javascript"></script>
        <script src="/js/seochocoin.js" th:src="@{/js/seochocoin.js}"></script>
    </head>
    <body>
        <main>
            <div class="contents">
                <div class="frame-card in">
                    <div class="card-header">
                        <strong>사용자 검색</strong>
                        <small></small>
                    </div>
                    <div class="card-menu">
                        <div class="left"></div>
                        <div class="right">
                            <form name="memberSearch" class="search-form" th:action="@{/cent/member-search-modal}" method="GET">
                                <input aria-label="Search" class="searchinput" id="keyword" name="keyword" th:value="${keyword}" placeholder="키워드..." type="text">
                                <button class="search-trigger">
                                    <i class="fa fa-search"></i>
                                </button>
                                <button class="btn btn-sm blue" type="button" id="memberAdd">사용자 추가</button>
                            </form>
                        </div>
                    </div>
                    <div class="table-card">
                        <div class="card-header">
                            <strong class="card-title">목록</strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-bordered" id="bootstrap-data-table-export">
                                <thead>
                                <tr>
                                    <th class="th_checkbox"><input id="checkall" type="checkbox"/></th>
                                    <th>회원명</th>
                                    <th>나이</th>
                                    <th>성별</th>
                                    <th>연락처</th>
                                    <th>등록센터</th>
                                    <th>등록일</th>
                                    <th>최근 접속일</th>
                                    <th>활동 등록수</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="memberVo,iterStat : ${members}" th:object="${memberVo}">
                                    <td class="td_checkbox"><input name="chkMem" type="checkbox" th:value="*{member.id}" th:data-name="*{member.name}"/></td>
                                    <td th:text="*{member.name}">송중기</td>
                                    <td th:text="*{member.age}">26</td>
                                    <td th:text="*{member.sex}">남</td>
                                    <td th:text="*{member.mobile}">000-0000-0000</td>
                                    <td th:text="*{member.center1}">서초1</td>
                                    <td th:text="*{#temporals.format(member.createdAt, 'yyyy-MM-dd')}">2019-01-01</td>
                                    <td th:text="*{#temporals.format(member.updatedAt, 'yyyy-MM-dd')}">2019-01-01</td>
                                    <td th:text="*{numOfActivity}">1</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div layout:replace="~{layout/footer::footer}"></div>
        <script>
            $(function () {
                $("#checkall").click(function () {
                    if ($("#checkall").prop("checked")) {
                        $("input[name=chkMem]").prop("checked", true);
                    } else {
                        $("input[name=chkMem]").prop("checked", false);
                    }
                });

                $(document).on("click", "#memberAdd", function(e) {
                    var memberIds =  $("input[name='chkMem']:checked").map(function(){
                        return this.value;
                    }).get();
                    var memberNms =  $("input[name='chkMem']:checked").map(function(){
                        return $(this).data('name');
                    }).get();
                    var result = {
                        "memberIds": memberIds,
                        "memberNms": memberNms
                    }

                    window.opener.memberSearchModal.callback(result);
                    window.close();
                });
            });
        </script>
    </body>
</html>