<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
    <head>
        <title>사용자 등록</title>
    </head>
    <body>
        <main>
            <div class="con-title" th:fragment="con-title">
                사용자<span> | 사용자 등록</span>
            </div>
            <div class="contents" th:fragment="contents">
                <div class="frame-card in">
                    <div class="card-header">
                        <strong>사용자 정보</strong>
                        <small></small>
                    </div>
                    <form id="mrform" method="post" th:action="@{/cent/member-register}" th:object="${member}">
                    <div class="card-body card-block">
                        <div class="form-group" th:inline="text">
                            <label class=" form-control-label" for="">등록일
                            </label>
                            [[*{createdAt != null ? #temporals.format(createdAt, 'yyyy-MM-dd') : #dates.format(#dates.createNow(), 'yyyy-MM-dd')}]]
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="selectLg">등록자</label>
                            <div class="form-control-lg form-control-none" id="selectLg" sec:authentication="principal.center.adminNm">홍길동</div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <font color="red">* 필수항목</font><br><br>
                            <input id="id" th:field="*{id}" type="hidden">
                            <label class=" form-control-label" for="name">회원명</label>
                            <input class="form-control" id="name" th:field="*{name}" placeholder="홍길동" type="text" required>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="pwd">회원 비밀번호</label>
                            <input class="form-control" id="pwd" name="pwd" placeholder="영문자, 숫자, 특수문자 포함 8글자 이상 입력해 주세요" type="password" th:required="*{id == null}" style="ime-mode: inactive">
                            <ul class="errorMessage" th:each="error: ${#fields.errors('pwd')}">
                                <li th:each="message : ${error.split(',')}">
                                    <p class="error-message" th:text="${message}"></p>
                                </li>
                            </ul>
                            패스워드를 입력하시면 등록/변경이 됩니다.
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="birth">생년월일</label>
                            <input class="form-control" id="birth" th:field="*{birth}" placeholder="YYYYMMDD" type="text" numberOnly maxlength="8">
                            <div th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="mobile">핸드폰 번호</label>
                            <input class="form-control" id="mobile" th:field="*{mobile}" placeholder="01034567890" type="text" required  numberOnly maxlength="11">
                            <div th:if="${#fields.hasErrors('mobile')}" th:errors="*{mobile}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="coin">기본코인</label>
                            <input class="form-control" id="coin" th:field="*{coin}" placeholder="00" type="text"  numberOnly maxlength="3">
                            <div th:if="${#fields.hasErrors('coin')}" th:errors="*{coin}" class="errorMessage"></div>
                            <br><font size="3" color="gray"></font><br><br>
                        </div>
                        <div class="row form-group">
                                <label class=" form-control-label">코인 적립대상 인증</label>
                                <label class="form-check-label " for="citationa">
                                    <input checked class="form-check-input" id="citationa">인증
                                </label>
                                <label class="form-check-label " for="citationb">
                                    <input class="form-check-input" id="citationb" type="radio">미인증
                                </label>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="postalCode">우편번호</label>
                            <input class="form-control" id="postalCode" th:field="*{postalCode}" placeholder="00000" type="text"  numberOnly maxlength="6">
                            <div th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}" class="errorMessage"></div>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" onclick="execDaumPostcode()" type="button">검색</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="addrDoro">도로명주소</label>
                            <input class="form-control" id="addrDoro" th:field="*{addrDoro}" placeholder="" type="text">
                            <div th:if="${#fields.hasErrors('addrDoro')}" th:errors="*{addrDoro}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="addrJibun">지번주소</label>
                            <input class="form-control" id="addrJibun" th:field="*{addrJibun}" placeholder="" type="text">
                            <div th:if="${#fields.hasErrors('addrDoro')}" th:errors="*{addrDoro}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="addrDetail">상세주소</label>
                            <input class="form-control" id="addrDetail" th:field="*{addrDetail}" placeholder="" type="text">
                            <div th:if="${#fields.hasErrors('addrDetail')}" th:errors="*{addrDetail}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="center1">활동 센터 1</label>
                            <select class="form-control-lg form-control" id="center1" name="center1" required>
                                <option th:each="center : ${centers}" th:value="${center.id}"
                                        th:selected="${member.center1 == null ? center.id == #authentication.principal.center.id : center.id == member.center1}" th:inline="text">[[${center.name}]]</option>
                            </select>
                            <div th:if="${#fields.hasErrors('center1')}" th:errors="*{center1}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="center2">활동 센터 2</label>
                            <select class="form-control-lg form-control" id="center2" name="center2">
                                <option value=""></option>
                                <option th:each="center : ${centers}" th:value="${center.id}" th:inline="text" th:selected="${center.id == member.center2}">[[${center.name}]]</option>
                            </select>
                            <div th:if="${#fields.hasErrors('center2')}" th:errors="*{center2}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="center3">활동 센터 3</label>
                            <select class="form-control-lg form-control" id="center3" name="center3">
                                <option value=""></option>
                                <option th:each="center : ${centers}" th:value="${center.id}" th:inline="text" th:selected="${center.id == member.center3}">[[${center.name}]]</option>
                            </select>
                            <div th:if="${#fields.hasErrors('center3')}" th:errors="*{center3}" class="errorMessage"></div>
                        </div>
                        <hr>
                        <font color="red">선택항목</font><br><br>
                        <div class="form-group">
                            <label class=" form-control-label" for="phone">전화번호</label>
                            <input class="form-control" id="phone" th:field="*{phone}"  placeholder="0234347890" type="text" numberOnly maxlength="11">
                            <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" class="errorMessage"></div>
                        </div>
                        <div class="row form-group">
                                <label class=" form-control-label">성별</label>
                                <label class="form-check-label " for="sex1">
                                    <input checked class="form-check-input" id="sex1" th:field="*{sex}" type="radio" value="M">남자
                                </label>
                                <label class="form-check-label " for="sex2">
                                    <input class="form-check-input" id="sex2" th:field="*{sex}" type="radio" value="F">여자
                                </label>
                                <div th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" class="errorMessage"></div>
                        </div>
                        <div class="row form-group">
                                <label class=" form-control-label">결혼여부</label>
                                <label class="form-check-label " for="married1">
                                    <input checked class="form-check-input" id="married1" th:field="*{married}" type="radio" value="S">미혼
                                </label>
                                <label class="form-check-label " for="married2">
                                    <input class="form-check-input" id="married2" th:field="*{married}" type="radio" value="M">기혼
                                </label>
                                <div th:if="${#fields.hasErrors('married')}" th:errors="*{married}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="email">이메일</label>
                            <input class="form-control" id="email" th:field="*{email}" placeholder="email@email.com" type="email">
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="errorMessage"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn back btn-sm" onclick="history.back()" type="button">취소</button>
                        <button class="btn ok btn-sm" type="submit">저장</button>
                    </div>
                    </form>
                </div>
            </div>
        </main>
        <script th:fragment="currScript">
            var sex, married;
            $(function () {
                $("input:text[numberOnly]").on("keyup", function() {
                    $(this).val($(this).val().replace(/[^0-9]/g,""));
                });

                sex = $('input[name="sex"]:checked').val();
                married = $('input[name="married"]:checked').val();
                $(document).on("click", 'input[name="sex"]', function(e) {
                    if($(this).val() == sex) {
                        $(this).prop('checked', false);
                        sex = '';
                    } else {
                        sex = $(this).val();
                    }
                });
                $(document).on("click", 'input[name="married"]', function(e) {
                    if($(this).val() == sex) {
                        $(this).prop('checked', false);
                        sex = '';
                    } else {
                        sex = $(this).val();
                    }
                });
            });
        </script>
    </body>
</html>