<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>사용자 목록</title>
    </head>
    <body>
        <main>
            <div class="con-title" th:fragment="con-title">
                사용자<span>
                    / 사용자 목록</span>
            </div>
            <div class="contents" th:fragment="contents">
                <div class="card-menu">
                    <div class="left">
                        <form name="upform" method="POST" enctype="multipart/form-data" th:action="@{/cent/member-upload}">
                            <button class="btn btn-sm blue" type="button" value="버튼" onClick="location.href='member-register'">사용자 등록</button>
                            <label for="elmFile" class="btn btn-sm blue">일괄등록<input id="elmFile" name="elmFile" type="file" onchange="selectFile()" style="display: none;" required /></label>
                            <a href="/format/uploadMemberList.xlsx" th:href="@{/format/uploadMemberList.xlsx}" download="uploadMemberList.xlsx">
                                <i class="fa fa-file-excel-o"> 일괄등록 파일 template</i>
                            </a>
                            <button id="uplaodFile" type="submit" class="btn btn-sm upload_label" style="display: none;">업로드</button>
                        </form>
                    </div>
                    <div class="right">
                        <form name="memberSearch" class="search-form" th:action="@{/cent/member-list}" method="GET">
                            <input aria-label="Search" class="searchinput" id="keyword" name="keyword" th:value="${keyword}" placeholder="키워드:회원명, 연락처" type="text">
                            <button class="search-trigger">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-sm blue" type="button" th:onClick="|location.href='@{member-download(keyword=${keyword})}'|">엑셀 다운로드</button>
                            <button class="btn btn-sm gray" type="button" id="memberDelete">삭제</button>
                        </form>
                        <form name="delForm" id="delForm" th:action="@{/cent/member-delete}" method="POST">
                            <input name="delIds" id="delIds" type="hidden">
                            <input name="keyword" th:value="${keyword}" type="hidden">
                        </form>
                    </div>
                </div>
                <div class="table-card">
                    <div class="card-header">
                        <strong class="card-title">목록</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" id="bootstrap-data-table-export">
                            <thead>
                                <tr>
                                    <th class="th_checkbox"><input id="checkall" type="checkbox"/></th>
                                    <th>회원명</th>
                                    <th>나이</th>
                                    <th>성별</th>
                                    <th>연락처</th>
                                    <th>등록센터</th>
                                    <th>등록일</th>
                                    <th>최근 접속일</th>
                                    <th>활동 등록수</th>
                                    <th>구분</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="memberVo,iterStat : ${members}" th:object="${memberVo}">
                                    <td class="td_checkbox"><input name="chk" type="checkbox" th:value="*{member.id}"/></td>
                                    <td><a href="member-detail" th:href="@{member-detail(id=*{member.id})}" th:text="*{member.name}">송중기</a></td>
                                    <td th:text="*{member.age}">26</td>
                                    <td th:text="*{member.sex}">남</td>
                                    <td th:text="*{member.mobile}">000-0000-0000</td>
                                    <td th:text="*{member.center1Nm}">서초1</td>
                                    <td th:text="*{#temporals.format(member.createdAt, 'yyyy-MM-dd')}">2019-01-01</td>
                                    <td th:text="*{#temporals.format(member.updatedAt, 'yyyy-MM-dd')}">2019-01-01</td>
                                    <td th:text="*{numOfActivity}">1</td>
                                    <td th:text="">코인 적립대상 O</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- paging -->
            <div class="paging">
                    <a href="#">
                        처음
                    </a>
                    <a href="#">
                        이전
                    </a>
                    <a class="on" href="#">1</a>
                    <!-- D : 활성화페이지일 경우 : on 처리 -->
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">
                        다음
                    </a>
                    <a href="#">
                        끝
                    </a>
                </div>
            <!-- //paging -->
        </main>
        <script th:fragment="currScript" th:inline="javascript">
            function selectFile() {
                if (document.getElementById("elmFile").value === "") {
                    document.getElementById("uplaodFile").style.display="none";
                } else {
                    document.getElementById("uplaodFile").style.display="";
                }
            }
            $(function () {
                var msg = /*[[${message}]]*/ '';
                if (msg) {
                    alert(msg);
                }

                $(document).on("click", "#memberDelete", function(e) {
                    var ids = $('input[name=chk]:checked').map(function(){
                        return $(this).val();
                    }).get();
                    if ($.isEmptyObject(ids)) {
                        alert("대상 사용자를 선택해 주세요.");
                        return false;
                    }
                    if (!confirm('대상 사용자를 삭제 하겠습니까?')) {
                        return false;
                    }
                    $('#delIds').val(ids);
                    $('#delForm').submit();
                });
            });
       </script>
    </body>
</html>