<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
    <head>
        <title>사용자 정보</title>
    </head>
    <body>
        <main>
            <div class="con-title" th:fragment="con-title">
                사용자<span> / 사용자 목록 / 사용자 정보</span>
            </div>
            <div class="contents" th:fragment="contents" th:object="${memberDetail}">
                <div class="frame-card in">
                    <div class="card-header">
                        <strong>사용자 정보</strong>
                        <small></small>
                    </div>
                    <div class="card-body card-block">
                        <div class="form-group">
                            <input id="id" th:field="*{member.id}" type="hidden">
                            <label class=" form-control-label" for="name">회원명</label>
                            <input class="form-control" id="name" th:field="*{member.name}" placeholder="회원명" type="text" readonly>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="mobile">핸드폰 번호</label>
                            <input class="form-control" id="mobile" th:field="*{member.mobile}" placeholder="01034567890" type="text" readonly>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="">보유코인</label>
                            <b th:text="*{member.coin}">2,000</b>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="mobile">핸드폰 번호</label>
                            <input class="form-control" id="mobile" th:field="*{member.mobile}" placeholder="01034567890" type="text" readonly>
                        </div>
                    </div>
                    <div class="card-body card-block">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#qwe">사용자 정보</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#asd">활동 정보</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#zxc">출석 관리</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#cn">코인내역</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#refund">환불 내역</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="qwe">
                                <div class="form-group">
                                    <label class=" form-control-label" for="">등록일 :
                                    </label>
                                    [[*{member.createdAt != null ? #temporals.format(createdAt, 'yyyy-MM-dd') : ""}]]
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="phone">전화번호</label>
                                    <input class="form-control" id="phone" th:field="*{member.phone}" placeholder="0233334444" type="text" readonly>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="">등록자</label>
                                    <input class="form-control" id="" placeholder="등록자" type="text" readonly>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="birth">생년월일</label>
                                    <input class="form-control" id="birth" th:field="*{member.birth}" placeholder="YYYYMMDD" type="text" readonly>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">성별</label>
                                    <label class="form-check-label " for="sex1">
                                        <input checked class="form-check-input" id="sex1" th:field="*{member.sex}" type="radio" value="M" disabled>남자
                                    </label>
                                    <label class="form-check-label " for="sex2">
                                        <input class="form-check-input" id="sex2" th:field="*{member.sex}" type="radio" value="F" disabled>여자
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">결혼여부</label>
                                    <label class="form-check-label " for="married1">
                                        <input checked class="form-check-input" id="married1" th:field="*{member.married}" type="radio" value="S" disabled>미혼
                                    </label>
                                    <label class="form-check-label " for="married2">
                                        <input class="form-check-input" id="married2" th:field="*{member.married}" type="radio" value="M" disabled>기혼
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="email">이메일</label>
                                    <input class="form-control" id="email" th:field="*{member.email}" placeholder="email@email.com" type="text" readonly>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="postalCode">우편번호</label>
                                    <input class="form-control" id="postalCode" th:field="*{member.postalCode}" placeholder="" type="text" readonly>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="addrDoro">도로명주소</label>
                                    <input class="form-control" id="addrDoro" th:field="*{member.addrDoro}" placeholder="" type="text" readonly>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="addrJibun">지번주소</label>
                                    <input class="form-control" id="addrJibun" th:field="*{member.addrJibun}" placeholder="" type="text" readonly>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="addrDetail">상세주소</label>
                                    <input class="form-control" id="addrDetail" th:field="*{member.addrDetail}" placeholder="" type="text" readonly>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="center1">주 활동 센터</label>
                                    <input class="form-control" id="center1" th:field="*{member.center1Nm}" placeholder="" type="text" readonly>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="center2">추가 활동 센터 1</label>
                                    <input class="form-control" id="center2" th:field="*{member.center2Nm}" placeholder="" type="text" readonly>
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label" for="center3">추가 활동 센터 2</label>
                                    <input class="form-control" id="center3" th:field="*{member.center3Nm}" placeholder="" type="text" readonly>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="asd">
                                <div class="activity-detail" th:each="activity,iterStat : *{activityList}" th:object="${activity}">
                                    <a th:href="@{activity-register-list(activityId=*{id})}">
                                        <b>활동처 [[${iterStat.count}]]</b>
                                    </a><br>
                                    [[*{name}]]
                                    <br>
                                    [[*{startDate}]] ~ [[*{endDate}]]
                                    <br>
                                    결제금 : [[*{#numbers.formatInteger(price,1,'COMMA')}]] 원 / 코인적립 : [[*{addCoinVal}]] 코인 ([[*{#numbers.formatInteger(addCoinVal * __${T(kr.co.ksbpartners.seochocoin.constants.Constants).BASE_COIN_PRICE}__,1,'COMMA')}]] 원)
                                </div>
                            </div>
                            <div class="tab-pane fade" id="zxc">
                                <div class="card-body">
                                    <div class="card-menu">
                                    <div class="right">
                                        <label class=" " for="scheduleSelect">활동 정보</label>
                                        <select class="" id="scheduleSelect" name="scheduleSelect">
                                            <option value="">활동명 / 센터명</option>
                                            <option th:each="act : *{activityList}" th:value="${act.id}" th:inline="text">[[${act.name}]]</option>
                                        </select>
                                    </div>
                                </div>
                                    <font style="background-color: green; padding:5px; border-radius:4px; color: white;">출석한 활동</font>
                                    <font style="background-color: #3a87ad; padding:5px; border-radius:4px; color: white; ">예정된 활동</font>
                                    <div id="calendar"></div>
                                 </div>
                            </div>
                            <div class="tab-pane fade" id="cn">
                                <div class="card-menu">
                                    <div class="right">
                                        <label class=" " for="coinSelect">활동 정보</label>
                                        <select class="" id="coinSelect" name="coinSelect">
                                            <option value="">활동명 / 센터명</option>
                                            <option th:each="act : *{activityList}" th:value="${act.name}" th:inline="text">[[${act.name}]]</option>
                                        </select>
                                    </div>
                                </div>
                                <table class="table table-striped table-bordered " id="bootstrap-data-table-export-noorder">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>코인 내역</th>
                                            <th>구분</th>
                                            <th>코인</th>
                                            <th>적립일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="coinLeger,iterStat : *{coinLegerList}" th:object="${coinLeger}">
                                            <td th:text="${iterStat.count}">1</td>
                                            <td th:text="*{activityId == 'act000000' ? '기본코인' : activityName}">xx활동처</td>
                                            <td th:text="*{type}">적립</td>
                                            <td th:inline="text">[[*{coin}]]코인([[*{#numbers.formatInteger(paid,1,'COMMA')}]]원)</td>
                                            <!--<td th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd')}">2019-07-11</td>-->
                                            <td th:text="*{#temporals.format(activityDate, 'yyyy-MM-dd')}">2019-07-11</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="refund">
                                <div class="frame-card in">
                                    <div class="card-header">
                                        <strong>환불 내역</strong>
                                        <small></small>
                                    </div>
                                    <div class="card-body card-block">
                                        <div>
                                            <b>2021.01.01</b><br>
                                            환불방식 : 현장 취소/환불
                                            <br>
                                            취소/환불 금액 : 3,000원
                                            <br>
                                            취소/환불 코인 : 3,000원
                                        </div>
                                        <hr>
                                        <div>
                                            <b>2021.01.01</b><br>
                                            환불방식 : 현장 취소/환불
                                            <br>
                                            취소/환불 금액 : 3,000원
                                            <br>
                                            취소/환불 코인 : 3,000원
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn back btn-sm" type="button" th:onClick="|location.href='@{member-list}'|">취소</button>
                        <button class="btn ok btn-sm" type="button" th:onClick="|location.href='@{member-register(id=*{member.id})}'|">수정 페이지로</button>
                    </div>
                </div>
            </div>
        </main>
        <div th:fragment="currScript"  th:remove="tag">
        <script th:inline="javascript">
            $(function(){
                // dataTable設定
                $.fn.dataTable.ext.search.push (
                    function( settings, data, dataIndex ) {
                        var name = $("#coinSelect").val();
                        if (name === '' || name == data[1]) {
                            return true;
                        }
                        return false;
                    }
                );
                var table = $("#bootstrap-data-table-export-noorder").DataTable({
                    lengthChange: false,
                    searching: true,
                    ordering: false,
                    displayLength: 10,
                    stripeClasses: [],
                    columnDefs: [{ "orderable": false, "targets": 0 }],
                    order: [],
                    language: {
                        emptyTable : "",
                        zeroRecords : "",
                        info : "_TOTAL_중 _START_-_END_ ",
                        infoEmpty : "",
                        paginate : {
                            first : "처음",
                            previous : "이전",
                            next : "다음",
                            last : "끝"
                        },
                    },
                    dom:
                      "<'row'<'col-sm-12'tr>>" +
                      "<'row'<'col-sm-6 right'i>>" +
                      "<'row'<'col-sm-12'p>>"
                });
                $(document).on("change", "#coinSelect", function(e) {
                    table.draw();
                });
            });

            $(document).ready(function() {
                $('#calendar').fullCalendar({
                    locale: 'ko',
                    height: 550,
                    timeFormat: 'H:mm',
                    events: /*[[${calendarSchedule}]]*/ []
                });

                $(document).on("change", "#scheduleSelect", function(e) {
                    $.ajax({
                        url: '/cent/member-schedule-change',
                        type: 'GET',
                        data: {
                            memberId: $('#id').val(),
                            activityId: $('#scheduleSelect').val()
                            },
                        dataType: 'json',
                        timeout: 1000,
                        success: function (data, dataType) {
                            $('#calendar').fullCalendar('destroy');
                            $('#calendar').fullCalendar({
                                locale: 'ko',
                                height: 550,
                                timeFormat: 'H:mm',
                                events: data
                            });
                        }
                    });
                });
            });
        </script>
        <link href='/css/fullcalendar.min.css' rel='stylesheet' />
        <script src="/js/fullcalendar.min.js" th:src="@{/js/fullcalendar.min.js}"></script>
        <script src='/js/locales-all.js' th:src="@{/js/locales-all.js}"></script>
        </div>
    </body>
</html>