<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>사용처별</title>
    </head>
    <body>
        <main>
            <div class="con-title" th:fragment="con-title">
                통계 및 정산<span>
                    / 사용처별</span>
            </div>
            <div class="contents" th:fragment="contents">
                <div class="card-filter card-menu lines">
                    <div class="left">
                        <span>기간 :
                            <span id="startDate" th:text="${fromDate}">2019.06.28</span> ~
                            <span id="endDate" th:text="${toDate}">2019.05.16</span>
                        </span><br><br>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeToday">금일</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeWeek">7일</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="change1Month">1개월</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="change3Month">3개월</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeYear">1년</button>
                        <button class="btn btn-sm normal" name="datefilter" id="datefilter" type="button">기간선택</button>
                    </div>
                </div>
                <br><br>
                <div class="card-menu">
                    <div class="right">
                        <form name="rangeSearch" id="rangeSearch" class="search-form" th:action="@{/cent/stat-usage}" method="GET">
                            <input name="fromDate" id="fromDate" th:value="${fromDate}" type="hidden">
                            <input name="toDate" id="toDate" th:value="${toDate}" type="hidden">
                            <input aria-label="Search" class="searchinput" id="keyword" name="keyword" th:value="${keyword}" placeholder="키워드..." type="text">
                            <button class="search-trigger">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-sm blue" type="button" th:onClick="|location.href='@{stat-usage-download(keyword=${keyword},fromDate=${fromDate},toDate=${toDate})}'|">엑셀 다운로드</button>
                        </form>
                    </div>
                </div>
                    
                <div class="table-card">
                    <div class="card-header">
                        <strong class="card-title">목록</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" id="bootstrap-data-table-export">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>사용처명</th>
                                    <th>코인적립</th>
                                    <th>코인사용</th>
                                    <th>최근 사용일</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr th:each="usageVo,iterStat : ${usages}" th:object="${usageVo}">
                                <td th:text="*{no}">1</td>
                                <td th:text="*{usage.name}">활동A</td>
                                <td><span th:text="*{#numbers.formatInteger(coinPlusSum, 0, 'COMMA')}">100</span></td>
                                <td th:text="*{coinMinusSum}">200</td>
                                <div th:if = "*{updatedAt != null}">
                                    <td th:text="*{#temporals.format(updatedAt, 'yyyy-MM-dd HH:mm:ss')}">2019-01-01</td>
                                </div>
                                <div th:if="*{updatedAt == null}">
                                    <td>-</td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- paging -->
                <!--<div class="paging">-->
                    <!--<a href="#">-->
                        <!--처음-->
                    <!--</a>-->
                    <!--<a href="#">-->
                        <!--이전-->
                    <!--</a>-->
                    <!--<a class="on" href="#">1</a>-->
                    <!--&lt;!&ndash; D : 활성화페이지일 경우 : on 처리 &ndash;&gt;-->
                    <!--<a href="#">2</a>-->
                    <!--<a href="#">3</a>-->
                    <!--<a href="#">4</a>-->
                    <!--<a href="#">5</a>-->
                    <!--<a href="#">-->
                        <!--다음-->
                    <!--</a>-->
                    <!--<a href="#">-->
                        <!--끝-->
                    <!--</a>-->
                <!--</div>-->
                <!-- //paging -->
            </div>
        </main>
        <script th:fragment="currScript">
            $(function () {
                $('input[name="datefilter"]').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                });
                $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
                    $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                });
                $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                });
            });
        </script>
    </body>
</html>