<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>사용처 목록</title>
    </head>
    <body>
        <main>
            <div class="con-title" th:fragment="con-title">
                사용처<span> / 사용처 목록 / 사용자 목록</span>
            </div>
            <div class="contents" th:fragment="contents">
                <div class="card-filter card-menu lines">
                    <div class="left">
                        <span>기간 :
                            <span id="startDate" th:text="${fromDate}">2019.06.28</span> ~
                            <span id="endDate" th:text="${toDate}">2019.05.16</span>
                        </span><br><br>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeToday">금일</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeWeek">7일</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="change1Month">1개월</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="change3Month">3개월</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeYear">1년</button>
                        <button class="btn btn-sm normal" name="datefilter" id="datefilter" type="button">기간선택</button>
                   </div>
                </div>
                <br><br>
                <div class="frame-card in">
                    <div class="card-header">
                        <strong>기본정보</strong>
                        <small></small>
                    </div>
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label class=" form-control-label" for="usageSelect">사용처 명</label>
                            <select class="form-control-lg form-control" id="usageSelect" name="usageSelect">
                                <option value="">전체</option>
                                <option th:each="act : ${usages}" th:value="${act.id}" th:selected="${usage != null && act.id == usage.id}" th:inline="text">[[${act.name}]]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="inCharge">담당자</label>
                            <input class="form-control" id="inCharge" th:value="${usage != null ? usage.inCharge : ''}" placeholder="" type="text" readonly>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="paid">누적금액</label>
                            <input class="form-control" id="paid" th:value="|${#aggregates.sum(memberList.![paid])}|" placeholder="500,000" type="text">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="coin">누적 코인사용액</label>
                            <input class="form-control" id="coin" th:value="|${#aggregates.sum(memberList.![coin])}|" placeholder="500,000" type="text">
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="contact">문의</label>
                            <input class="form-control" id="contact" th:value="${usage != null ? usage.contact : ''}" placeholder="" type="text" readonly>
                        </div>
                        <th:block th:if="${usage != null && usage.id != null && usage.id != ''}">
                            <div class="form-group">
                                <label class=" form-control-label">QR 코드</label>
                                <div class=" qrcode"><img th:src="|https://api.qrserver.com/v1/create-qr-code/?size=250x250&amp;data=id=${usage != null ? usage.id : ''};name=${usage != null ? usage.name : ''};|"></div>
                            </div>
                            <button class="btn back btn-sm" type="button" th:onclick="|window.open('@{modal(id=${usage != null ? usage.id : ''},name=${usage != null ? usage.name : ''})}')|">QR코드 출력</button>
                        </th:block>
                    </div>
                    <div class="card-footer">
                        <a href="/usage-list.html">
                            <button class="btn back btn-sm" type="submit">목록보기</button>
                        </a>
                        <a href="usage-add" th:href="@{usage-add(id=${usage != null ? usage.id : ''})}">
                            <button class="btn back btn-sm" type="button">사용처 수정</button>
                        </a>
                    </div>
                </div>
                <div class="card-menu">
                    <div class="right">
                        <form name="rangeSearch" id="rangeSearch" class="search-form" th:action="@{/cent/usage-user-list}" method="GET">
                            <input name="usageId" id="usageId" th:value="${usageId}" type="hidden">
                            <input name="fromDate" id="fromDate" th:value="${fromDate}" type="hidden">
                            <input name="toDate" id="toDate" th:value="${toDate}" type="hidden">
                            <input aria-label="Search" class="searchinput" id="keyword" name="keyword" th:value="${keyword}" placeholder="키워드..." type="text">
                            <button class="search-trigger">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-sm blue" type="button" th:onClick="|location.href='@{usageMember-download(usageId=${usageId},keyword=${keyword},fromDate=${fromDate},toDate=${toDate})}'|">엑셀 다운로드</button>
                            <button class="btn btn-sm gray" type="button" id="memberDelete">삭제</button>
                        </form>
                        <form name="delForm" id="delForm" th:action="@{/cent/usage-member-delete}" method="POST">
                            <input name="delIds" id="delIds" type="hidden">
                            <input name="usageId" th:value="${usageId}" type="hidden">
                            <input name="keyword" th:value="${keyword}" type="hidden">
                            <input name="fromDate" th:value="${fromDate}" type="hidden">
                            <input name="toDate" th:value="${toDate}" type="hidden">
                        </form>
                    </div>
                    <div class="left">
                    </div>
                </div>
                <div class="table-card">
                    <div class="card-header">
                        <strong class="card-title">목록</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" id="bootstrap-data-table-export">
                            <thead>
                                <tr>
                                    <th class="th_checkbox"><input id="checkall" type="checkbox"/></th>
                                    <th>사용자명</th>
                                    <th>연락처</th>
                                    <th>코인사용</th>
                                    <th>사용취소</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="coinLeger,iterStat : ${memberList}" th:object="${coinLeger}">
                                    <td class="td_checkbox"><input name="chk" type="checkbox" th:value="*{memberId}"/></td>
                                    <td><a href="member-detail" th:href="@{member-detail(id=*{memberId})}" th:text="*{memberName}">송중기</a></td>
                                    <td th:text="*{memberMobile}">101-0000-0000</td>
                                    <td th:inline="text">[[*{coin}]]코인([[*{paid}]]원)</td>
                                    <td><button type="button" name="useCancel">사용취소</button>
                                        <form name="doCancel" th:action="@{/cent/usage-coin-cancel}" method="GET">
                                            <input name="memberId" th:value="*{memberId}" type="hidden">
                                            <input name="activityId" th:value="*{activityId}" type="hidden">
                                            <input name="coin" th:value="*{coin}" type="hidden">
                                            <input name="usageId" th:value="${usageId}" type="hidden">
                                            <input name="keyword" th:value="${keyword}" type="hidden">
                                            <input name="fromDate" th:value="${fromDate}" type="hidden">
                                            <input name="toDate" th:value="${toDate}" type="hidden">
                                        </form>
                                    </td>
                                    <td th:text="*{#temporals.format(createdAt, 'yyyy-MM-dd')}">2019-01-01</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                <!-- paging -->
                <div class="paging">
                    <a href="#">
                        처음
                    </a>
                    <a href="#">
                        이전
                    </a>
                    <a class="on" href="#">1</a>
                    <!-- D : 활성화페이지일 경우 : on 처리 -->
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">
                        다음
                    </a>
                    <a href="#">
                        끝
                    </a>
                </div>
                <!-- //paging -->
        </main>
        <script th:fragment="currScript">
            $(function () {
                $(document).on("change", "#usageSelect", function(e) {
                    $('#usageId').val($(this).val());
                    $('#rangeSearch').submit();
                });

                $(document).on("click", "#memberDelete", function(e) {
                    var ids = $('input[name=chk]:checked').map(function(){
                        return $(this).val();
                    }).get();
                    if ($.isEmptyObject(ids)) {
                        alert("대상 사용자를 선택해 주세요.");
                        return false;
                    }
                    if (!confirm('대상 사용자를 삭제 하겠습니까?')) {
                        return false;
                    }
                    $('#delIds').val(ids);
                    $('#delForm').submit();
                });

                $(document).on("click", 'button[name="useCancel"]', function(e) {
                    if (confirm('대상 사용자에 대한 사용취소를 실행 합니까?')) {
                        $(this).next('form[name="doCancel"]').submit();
                    }
                });

            });
        </script>
    </body>
</html>