<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>사용처 등록</title>
        <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    </head>
    <body>
        <main>
            <div class="con-title" th:fragment="con-title">
                사용처<span> / 사용처 목록</span>
            </div>
            <div class="contents" th:fragment="contents">
                <div class="card-filter card-menu lines">
                    <div class="left">
                        <span>기간 :
                            <span id="startDate" th:text="${fromDate}">2019.06.28</span> ~
                            <span id="endDate" th:text="${toDate}">2019.05.16</span>
                        </span><br><br>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeToday">금일</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeWeek">7일</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="change1Month">1개월</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="change3Month">3개월</button>
                        <button class="btn btn-sm normal changeDate" type="button" id="changeYear">1년</button>
                        <button class="btn btn-sm normal" name="datefilter" id="datefilter" type="button">기간선택</button>
                    </div>
                    <div class="right">
                        <label class=" form-control-label" for="activitySelect">활동처명</label>
                        <select class="form-control-lg form-control" id="activitySelect" name="activitySelect">
                            <option value="">전체</option>
                            <option th:each="act : ${activities}" th:value="${act.id}" th:selected="${act.id == activityId}" th:inline="text">[[${act.name}]]</option>
                        </select>
                    </div>
                </div>
                <br><br>
                <div class="card-menu">
                    <div class="left">
                        <form name="upform" method="POST" enctype="multipart/form-data" th:action="@{/cent/usage-upload}">
                            <label for="elmFile" class="btn btn-sm blue">일괄등록<input id="elmFile" name="elmFile" type="file" onchange="selectFile()" style="display: none;" required /></label>
                            <a href="/format/usageUpload.xlsx" th:href="@{/format/usageUpload.xlsx}" download="usageUpload.xlsx">
                                <i class="fa fa-file-excel-o"> 일괄등록 파일 template</i>
                            </a>
                            <button id="uplaodFile" type="submit" class="btn btn-sm upload_label" style="display: none;">업로드</button>
                        </form>
                    </div>
                    <div class="right">
                        <form name="rangeSearch" id="rangeSearch" class="search-form" th:action="@{/cent/usage-list}" method="GET">
                            <input name="fromDate" id="fromDate" th:value="${fromDate}" type="hidden">
                            <input name="toDate" id="toDate" th:value="${toDate}" type="hidden">
                            <input name="activityId" id="activityId" th:value="${activityId}" type="hidden">
                            <input aria-label="Search" class="searchinput" id="keyword" name="keyword" th:value="${keyword}" placeholder="키워드:지역, 사용처명, 구분" type="text">
                            <button class="search-trigger">
                                <i class="fa fa-search"></i>
                            </button>
                            <button class="btn btn-sm blue" type="button" th:onClick="|location.href='@{usage-download(keyword=${keyword},fromDate=${fromDate},toDate=${toDate},activityId=${activityId})}'|">엑셀 다운로드</button>
                            <button class="btn btn-sm gray" type="button" id="usageDelete">삭제</button>
                        </form>
                        <form name="delForm" id="delForm" th:action="@{/cent/usage-delete}" method="POST">
                            <input name="delIds" id="delIds" type="hidden">
                            <input name="keyword" th:value="${keyword}" type="hidden">
                            <input name="fromDate" th:value="${fromDate}" type="hidden">
                            <input name="toDate" th:value="${toDate}" type="hidden">
                            <input name="activityId" th:value="${activityId}" type="hidden">
                        </form>
                    </div>
                </div>
                <div class="table-card">
                    <div class="card-header">
                        <strong class="card-title">목록</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" id="bootstrap-data-table-export">
                            <thead>
                                <tr>
                                    <th class="th_checkbox"><input id="checkall" type="checkbox"/></th>
                                    <th>지역</th>
                                    <th>사용처명 [ID]</th>
                                    <th>구분</th>
                                    <th>사용자수</th>
                                    <th>코인사용</th>
                                    <th>등록일</th>
                                    <th>상태</th>
                                    <th>QR코드</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="usageVO,iterStat : ${usages}" th:object="${usageVO}">
                                    <td class="td_checkbox"><input name="chk" type="checkbox" th:value="*{usage.id}"/></td>
                                    <td th:text="*{usage.area}">중앙</td>
                                    <td><a href="usage-register-list" th:href="@{usage-user-list(usageId=*{usage.id})}" th:text="*{usage.name}" th:title="*{usage.id}">사용처1</a></td>
                                    <td th:text="*{usage.type}">교육</td>
                                    <td th:text="*{numOfMembers}">2</td>
                                    <td th:text="*{coinLegerList != null && coinLegerList.size() != 0 ? #aggregates.sum(coinLegerList.![coin]) : 0}">200</td>
                                    <td th:text="*{#temporals.format(usage.createdAt, 'yyyy-MM-dd')}">2019-07-11</td>
                                    <td th:text="*{'Y'.equals(usage.openActivity) ? '게시' : '미게시'}">마감</td>
                                    <td><a th:href="|javascript:window.open('@{modal(id=*{usage.id},name=*{usage.name})}')|">보기</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                <!-- paging -->
                <div class="paging">
                    <a href="#">
                        처음
                    </a>
                    <a href="#">
                        이전
                    </a>
                    <a class="on" href="#">1</a>
                    <!-- D : 활성화페이지일 경우 : on 처리 -->
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">
                        다음
                    </a>
                    <a href="#">
                        끝
                    </a>
                </div>
                <!-- //paging -->
        </main>
        <script th:fragment="currScript" th:inline="javascript">
            function selectFile() {
                if (document.getElementById("elmFile").value === "") {
                    document.getElementById("uplaodFile").style.display="none";
                } else {
                    document.getElementById("uplaodFile").style.display="";
                }
            }　
            $(function () {
                var msg = /*[[${message}]]*/ '';
                if (msg) {
                    alert(msg);
                }
                $(document).tooltip();

                $(document).on("change", "#activitySelect", function(e) {
                    $('#activityId').val($(this).val());
                    $('#rangeSearch').submit();
                });

                $(document).on("click", "#usageDelete", function(e) {
                    var ids = $('input[name=chk]:checked').map(function(){
                        return $(this).val();
                    }).get();
                    if ($.isEmptyObject(ids)) {
                        alert("대상 사용처를 선택해 주세요.");
                        return false;
                    }
                    if (!confirm('대상 사용자를 삭제 하겠습니까?')) {
                        return false;
                    }
                    $('#delIds').val(ids);
                    $('#delForm').submit();
                });
            });
        </script>
    </body>
</html>