<!doctype html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title>사용처 등록</title>
    </head>
    <body>
        <main>
            <div class="con-title" th:fragment="con-title">
                사용처<span> / 사용처 등록
                </span>
            </div>
            <div class="contents" th:fragment="contents">
                <div class="frame-card in">
                    <div class="card-header">
                        <strong>사용처 등록</strong>
                        <small></small>
                    </div>
                    <form id="marketForm" method="post" th:action="@{/cent/usage-add}" th:object="${usage}">
                    <div class="card-body card-block">
                        <div class="form-group">
                            <label class=" form-control-label" for="">등록일자 :</label>
                            [[*{createdAt != null ? #temporals.format(createdAt, 'yyyy-MM-dd HH:mm') : #dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm')}]]
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="activityId">활동처명</label>
                            <select class="form-control-lg form-control" id="activityId" name="activityId">
                                <option value="">전체</option>
                                <option th:each="act : ${activities}" th:value="${act.id}" th:selected="${act.id == usage.activityId}" th:inline="text">[[${act.name}]]</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input id="id" th:field="*{id}" type="hidden">
                            <label class=" form-control-label" for="name">사용처명</label>
                            <input class="form-control" id="name" th:field="*{name}" placeholder="사용처명 입력" type="text" required>
                            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="inCharge">담당자</label>
                            <input class="form-control" id="inCharge" th:field="*{inCharge}" placeholder="홍길동" type="text">
                            <div th:if="${#fields.hasErrors('inCharge')}" th:errors="*{inCharge}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="contact">문의</label>
                            <input class="form-control" id="contact" th:field="*{contact}" placeholder="" type="text">
                            <div th:if="${#fields.hasErrors('contact')}" th:errors="*{contact}" class="errorMessage"></div>
                        </div>
                        <hr class="hr_gline">
                        <div class="form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">사용처 구분</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check-inline form-check">
                                    <label class="form-check-label " for="type1">
                                        <input checked class="form-check-input" id="type1" th:field="*{type}" type="radio" value="교육">
                                        교육
                                    </label>
                                    <label class="form-check-label " for="type2">
                                        <input class="form-check-input" id="type2" th:field="*{type}" type="radio" value="식당">
                                        식당
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr class="hr_gline">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class="form-control-label" for="detail">사용처 내용</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <textarea class="form-control" id="detail" th:field="*{detail}" placeholder="내용..." rows="4"></textarea>
                            </div>
                            <div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}" class="errorMessage"></div>
                        </div>
                        <hr class="hr_gline">
                        <div class="form-group">
                            <label class=" form-control-label" for="area">지역</label>
                            <input class="form-control" id="area" th:field="*{area}" placeholder="" type="text">
                            <div th:if="${#fields.hasErrors('area')}" th:errors="*{area}" class="errorMessage"></div>
                        </div>
                        <div class="form-group">
                            <label class=" form-control-label" for="addr">사용처 장소</label>
                            <input class="form-control" id="addr" th:field="*{addr}" placeholder="주소 입력" type="text">
                            <div th:if="${#fields.hasErrors('addr')}" th:errors="*{addr}" class="errorMessage"></div>
                            <div class="input-group-btn">
                                <button class="btn btn-primary" type="button" onclick="viewkakaomap();">지도</button>
                            </div>
                            <div id="kakaomap" style="width:100%;height:350px;"></div>
                        </div>
                        <hr class="hr_gline">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">가격</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <input class="input-cl-0" id="price" th:field="*{price}" placeholder="2,000" type="text"><b>원</b>
                                        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">코인 사용 금액</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <input class="input-cl-0" id="useCoin" th:field="*{useCoin}" placeholder="2,000" type="text"><b>코인</b>
                                        <div th:if="${#fields.hasErrors('useCoin')}" th:errors="*{useCoin}" class="errorMessage"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <th:block th:if="${usage.id != null && usage.id != ''}">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">QR 코드</label>
                                <div class="qrcode"><img th:src="|https://api.qrserver.com/v1/create-qr-code/?size=250x250&amp;data=id=*{id};name=*{name};|"></div>
                            </div>
                        </div>
                        <button class="btn back btn-sm" type="button" th:onclick="|window.open('@{modal(id=*{id},name=*{name})}')|">QR코드 생성</button>
                        </th:block>
                        <hr class="hr_gline">
                        <div class="row form-group">
                            
                            <div class="col col-md-3">
                                <label class=" form-control-label">게시 여부</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="checkbox">
                                        <label class="form-check-label " for="openActivity1">
                                            <input checked class="form-check-input" id="openActivity1" th:field="*{openActivity}" type="radio" value="N" required>
                                            미게시
                                        </label>
                                        <label class="form-check-label " for="openActivity2">
                                            <input class="form-check-input" id="openActivity2" th:field="*{openActivity}" type="radio" value="Y" required>
                                            게시
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn back btn-sm" type="button" value="버튼" onClick="location.href='usage-list'">목록보기</button>
                        <button class="btn back btn-sm" type="submit" onClick="javascript:history.back()">취소</button>
                        <button class="btn ok btn-sm" type="submit">저장</button>
                    </div>
                    </form>
                </div>
            </div>
        </main>
        <div th:fragment="currScript"  th:remove="tag">
            <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1d3660943aacb562f6f4b7dbffcf5e05&libraries=services"></script>
            <script>
            $(function(){
                if ($('#addr').val()) {
                    viewkakaomap();
                }
            });
            function viewkakaomap() {
                var mapContainer = document.getElementById('kakaomap'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

                // 지도를 생성합니다
                var map = new kakao.maps.Map(mapContainer, mapOption);

                // 주소-좌표 변환 객체를 생성합니다
                var geocoder = new kakao.maps.services.Geocoder();

                // 주소로 좌표를 검색합니다
                geocoder.addressSearch($('#addr').val(), function(result, status) {

                    // 정상적으로 검색이 완료됐으면
                    if (status === kakao.maps.services.Status.OK) {

                        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: coords
                        });

                        // 인포윈도우로 장소에 대한 설명을 표시합니다
                        var infowindow = new kakao.maps.InfoWindow({
                            content: '<div style="width:150px;text-align:center;padding:6px 0;">'+$('#name').val()+'</div>'
                        });
                        infowindow.open(map, marker);

                        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                        map.setCenter(coords);
                    }
                });
            }
        </script>
        </div>
    </body>
</html>